n8n/workflows/01-tasa-cambio-diaria.json
{"updatedAt":"2026-04-18T00:31:02.470Z","createdAt":"2026-04-15T19:07:10.873Z","id":"3sj3qGPw5oECiLDB","name":"Shadow iOS — 01 Tasa de cambio diaria","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}},"id":"trigger-cron","name":"Cron 8am VZ (12:00 UTC)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"method":"POST","url":"https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ fiat: \"VES\", crypto: \"USDT\", tradeType: \"BUY\", page: 1, rows: 5 }) }}","options":{"timeout":15000}},"name":"Fetch Binance P2P","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,300],"id":"f65ac9b3-d81a-4b2d-9eb7-480b1c9d1a70","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Average top 5 Binance P2P prices — fallback to 0 if API fails\nconst data = $json.data || $json.error ? [] : [$json];\nconst prices = (Array.isArray(data) ? data : []).map(d => parseFloat(d?.adv?.price || 0)).filter(p => p > 0);\n\nlet rate = 0;\nif (prices.length > 0) {\n  rate = Math.round((prices.reduce((a, b) => a + b, 0) / prices.length) * 10000) / 10000;\n}\n\nconst today = new Date().toISOString().split('T')[0];\nconst success = rate > 0;\n\nreturn [{ json: { rate, date: today, success, prices } }];"},"name":"Calculate average","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300],"id":"40a06df4-67a5-4021-bf77-2730d58e04f7"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/exchange_rates","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ date: $json.date, rate_binance: $json.rate, rate_used: $json.rate, source: \"binance\" }) }}","options":{}},"name":"Upsert rate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"39153e48-70cc-4394-a2b8-29c07f1ed07f","onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?status=eq.confirmado&created_at=lt.{{ new Date(Date.now() - 24*60*60*1000).toISOString() }}&delivery_type=is.null&select=order_number,client_name,created_at,total_usd&order=created_at.asc&limit=10","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":false,"options":{}},"name":"Fetch stale orders","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"alwaysOutputData":true,"id":"c6b84876-be93-4057-b96b-0b5626e5ac45"},{"parameters":{"method":"GET","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements?select=wallet,movement_type,amount","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":false,"options":{}},"name":"Fetch balances","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"9f75ac4c-3563-45e0-9128-66532e647964"},{"parameters":{"jsCode":"// Build morning briefing\nconst rateData = $('Calculate average').first().json;\nconst rate = rateData.rate || 627; // fallback\nconst rateOk = rateData.success;\nconst staleResult = $('Fetch stale orders').first().json;\nconst staleOrders = Array.isArray(staleResult) ? staleResult : (staleResult?.order_number ? [staleResult] : []);\nconst movements = $('Fetch balances').all().map(i => i.json);\n\nconst balances = { cash_usd: 0, zelle: 0, bolivares: 0, binance: 0 };\nfor (const m of movements) {\n  const w = m.wallet;\n  const amt = parseFloat(m.amount) || 0;\n  if (!balances.hasOwnProperty(w)) continue;\n  if (m.movement_type === 'ingreso') balances[w] += amt;\n  else if (m.movement_type === 'egreso') balances[w] -= amt;\n  else balances[w] += amt;\n}\nconst bsInUsd = rate > 0 ? balances.bolivares / rate : 0;\nconst total = balances.cash_usd + balances.zelle + balances.binance + bsInUsd;\nconst fmtNum = (n) => Math.abs(n).toFixed(2).replace(/\\B(?=(\\d{3})+(?!\\d))/g, ',');\n\nconst lines = [];\nlines.push('\\u2600\\ufe0f *Buenos dias \\u2014 Shadow iOS*');\nlines.push('');\nlines.push('\\ud83d\\udcb1 *Tasa:* Bs ' + fmtNum(rate) + '/USD' + (rateOk ? '' : ' (ayer)'));\nlines.push('');\nlines.push('\\ud83d\\udcb0 *Caja*');\nlines.push('Cash: $' + fmtNum(balances.cash_usd));\nlines.push('Zelle: $' + fmtNum(balances.zelle));\nlines.push('Bs: ' + fmtNum(balances.bolivares) + ' (~$' + fmtNum(bsInUsd) + ')');\nlines.push('Binance: $' + fmtNum(balances.binance));\nlines.push('Total: $' + fmtNum(total));\n\nif (staleOrders.length > 0) {\n  lines.push('');\n  lines.push('\\u26a0\\ufe0f *Pedidos sin despachar (+24h):*');\n  staleOrders.forEach(o => {\n    const hours = Math.round((Date.now() - new Date(o.created_at).getTime()) / 3600000);\n    lines.push('  #' + o.order_number + ' ' + o.client_name + ' $' + o.total_usd + ' (' + hours + 'h)');\n  });\n} else {\n  lines.push('');\n  lines.push('\\u2705 Sin pedidos estancados.');\n}\n\nconst msg = lines.join(String.fromCharCode(10));\nreturn [{ json: { message: msg } }];"},"name":"Build morning msg","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,300],"id":"4d970de9-171e-4d46-8156-3f140e382492"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: $json.message }) }}","options":{}},"name":"Send morning briefing","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,300],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"63e0581c-5060-448a-ba9e-184f81d52158"}],"connections":{"Cron 8am VZ (12:00 UTC)":{"main":[[{"node":"Fetch Binance P2P","type":"main","index":0}]]},"Fetch Binance P2P":{"main":[[{"node":"Calculate average","type":"main","index":0}]]},"Calculate average":{"main":[[{"node":"Upsert rate","type":"main","index":0}]]},"Upsert rate":{"main":[[{"node":"Fetch stale orders","type":"main","index":0}]]},"Fetch stale orders":{"main":[[{"node":"Fetch balances","type":"main","index":0}]]},"Fetch balances":{"main":[[{"node":"Build morning msg","type":"main","index":0}]]},"Build morning msg":{"main":[[{"node":"Send morning briefing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Cron 8am VZ (12:00 UTC)":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"65af3481-cd8d-4956-a278-8f1eccd45283","activeVersionId":"65af3481-cd8d-4956-a278-8f1eccd45283","versionCounter":21,"triggerCount":1,"shared":[{"updatedAt":"2026-04-15T19:07:10.879Z","createdAt":"2026-04-15T19:07:10.879Z","role":"workflow:owner","workflowId":"3sj3qGPw5oECiLDB","projectId":"NJ3rjcCVeDHPF7sa","project":{"updatedAt":"2025-11-03T14:48:00.044Z","createdAt":"2025-11-03T14:41:36.663Z","id":"NJ3rjcCVeDHPF7sa","name":"Aniello Rescigno <rescignoaniello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectRelations":[{"updatedAt":"2025-11-03T14:41:36.664Z","createdAt":"2025-11-03T14:41:36.664Z","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectId":"NJ3rjcCVeDHPF7sa","user":{"updatedAt":"2026-04-17T16:04:22.000Z","createdAt":"2025-11-03T14:41:35.993Z","id":"448be12a-ad32-4dc2-85c1-be8439daf6a3","email":"rescignoaniello@gmail.com","firstName":"Aniello","lastName":"Rescigno","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-03T14:48:19.853Z","personalization_survey_n8n_version":"1.103.2","companySize":"personalUser","companyType":"ecommerce","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"DYUtIYpfTjv9nnRK","userActivatedAt":1762197033728,"npsSurvey":{"responded":true,"lastShownAt":1770322564226},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-17","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-18T00:31:02.472Z","createdAt":"2026-04-18T00:31:02.472Z","versionId":"65af3481-cd8d-4956-a278-8f1eccd45283","workflowId":"3sj3qGPw5oECiLDB","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}},"id":"trigger-cron","name":"Cron 8am VZ (12:00 UTC)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"method":"POST","url":"https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ fiat: \"VES\", crypto: \"USDT\", tradeType: \"BUY\", page: 1, rows: 5 }) }}","options":{"timeout":15000}},"name":"Fetch Binance P2P","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,300],"id":"f65ac9b3-d81a-4b2d-9eb7-480b1c9d1a70","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Average top 5 Binance P2P prices — fallback to 0 if API fails\nconst data = $json.data || $json.error ? [] : [$json];\nconst prices = (Array.isArray(data) ? data : []).map(d => parseFloat(d?.adv?.price || 0)).filter(p => p > 0);\n\nlet rate = 0;\nif (prices.length > 0) {\n  rate = Math.round((prices.reduce((a, b) => a + b, 0) / prices.length) * 10000) / 10000;\n}\n\nconst today = new Date().toISOString().split('T')[0];\nconst success = rate > 0;\n\nreturn [{ json: { rate, date: today, success, prices } }];"},"name":"Calculate average","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300],"id":"40a06df4-67a5-4021-bf77-2730d58e04f7"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/exchange_rates","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ date: $json.date, rate_binance: $json.rate, rate_used: $json.rate, source: \"binance\" }) }}","options":{}},"name":"Upsert rate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"39153e48-70cc-4394-a2b8-29c07f1ed07f","onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?status=eq.confirmado&created_at=lt.{{ new Date(Date.now() - 24*60*60*1000).toISOString() }}&delivery_type=is.null&select=order_number,client_name,created_at,total_usd&order=created_at.asc&limit=10","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":false,"options":{}},"name":"Fetch stale orders","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"alwaysOutputData":true,"id":"c6b84876-be93-4057-b96b-0b5626e5ac45"},{"parameters":{"method":"GET","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements?select=wallet,movement_type,amount","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":false,"options":{}},"name":"Fetch balances","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"9f75ac4c-3563-45e0-9128-66532e647964"},{"parameters":{"jsCode":"// Build morning briefing\nconst rateData = $('Calculate average').first().json;\nconst rate = rateData.rate || 627; // fallback\nconst rateOk = rateData.success;\nconst staleResult = $('Fetch stale orders').first().json;\nconst staleOrders = Array.isArray(staleResult) ? staleResult : (staleResult?.order_number ? [staleResult] : []);\nconst movements = $('Fetch balances').all().map(i => i.json);\n\nconst balances = { cash_usd: 0, zelle: 0, bolivares: 0, binance: 0 };\nfor (const m of movements) {\n  const w = m.wallet;\n  const amt = parseFloat(m.amount) || 0;\n  if (!balances.hasOwnProperty(w)) continue;\n  if (m.movement_type === 'ingreso') balances[w] += amt;\n  else if (m.movement_type === 'egreso') balances[w] -= amt;\n  else balances[w] += amt;\n}\nconst bsInUsd = rate > 0 ? balances.bolivares / rate : 0;\nconst total = balances.cash_usd + balances.zelle + balances.binance + bsInUsd;\nconst fmtNum = (n) => Math.abs(n).toFixed(2).replace(/\\B(?=(\\d{3})+(?!\\d))/g, ',');\n\nconst lines = [];\nlines.push('\\u2600\\ufe0f *Buenos dias \\u2014 Shadow iOS*');\nlines.push('');\nlines.push('\\ud83d\\udcb1 *Tasa:* Bs ' + fmtNum(rate) + '/USD' + (rateOk ? '' : ' (ayer)'));\nlines.push('');\nlines.push('\\ud83d\\udcb0 *Caja*');\nlines.push('Cash: $' + fmtNum(balances.cash_usd));\nlines.push('Zelle: $' + fmtNum(balances.zelle));\nlines.push('Bs: ' + fmtNum(balances.bolivares) + ' (~$' + fmtNum(bsInUsd) + ')');\nlines.push('Binance: $' + fmtNum(balances.binance));\nlines.push('Total: $' + fmtNum(total));\n\nif (staleOrders.length > 0) {\n  lines.push('');\n  lines.push('\\u26a0\\ufe0f *Pedidos sin despachar (+24h):*');\n  staleOrders.forEach(o => {\n    const hours = Math.round((Date.now() - new Date(o.created_at).getTime()) / 3600000);\n    lines.push('  #' + o.order_number + ' ' + o.client_name + ' $' + o.total_usd + ' (' + hours + 'h)');\n  });\n} else {\n  lines.push('');\n  lines.push('\\u2705 Sin pedidos estancados.');\n}\n\nconst msg = lines.join(String.fromCharCode(10));\nreturn [{ json: { message: msg } }];"},"name":"Build morning msg","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,300],"id":"4d970de9-171e-4d46-8156-3f140e382492"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: $json.message }) }}","options":{}},"name":"Send morning briefing","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,300],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"63e0581c-5060-448a-ba9e-184f81d52158"}],"connections":{"Cron 8am VZ (12:00 UTC)":{"main":[[{"node":"Fetch Binance P2P","type":"main","index":0}]]},"Fetch Binance P2P":{"main":[[{"node":"Calculate average","type":"main","index":0}]]},"Calculate average":{"main":[[{"node":"Upsert rate","type":"main","index":0}]]},"Upsert rate":{"main":[[{"node":"Fetch stale orders","type":"main","index":0}]]},"Fetch stale orders":{"main":[[{"node":"Fetch balances","type":"main","index":0}]]},"Fetch balances":{"main":[[{"node":"Build morning msg","type":"main","index":0}]]},"Build morning msg":{"main":[[{"node":"Send morning briefing","type":"main","index":0}]]}},"authors":"Aniello Rescigno","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-18T00:31:02.572Z","id":837,"workflowId":"3sj3qGPw5oECiLDB","versionId":"65af3481-cd8d-4956-a278-8f1eccd45283","event":"activated","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3"}]}}