n8n/workflows/02_shopify_new_order.json
{"updatedAt":"2026-04-17T00:48:18.020Z","createdAt":"2026-04-15T19:18:57.599Z","id":"GUanijFyA7biDyRX","name":"Shadow iOS — 02 Shopify nuevo pedido","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","topic":"orders/create"},"id":"trigger-shopify","name":"Shopify: Order Created","type":"n8n-nodes-base.shopifyTrigger","typeVersion":1,"position":[240,300],"credentials":{"shopifyOAuth2Api":{"id":"hkN5bDuOp689jPuQ","name":"Shopify-Primal-Access Token account"}},"webhookId":"shadow-ios-shopify-new-order"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"loqfhiiOtaUzk9GC","mode":"list","cachedResultName":"usd_bs_rate"},"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"1"}]}},"id":"dt-get-rate","name":"Get rate today","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[460,300]},{"parameters":{"jsCode":"// Merge Shopify order with today's exchange rate\nconst order = $('Shopify: Order Created').first().json;\nconst rateRow = $input.first().json || {};\nconst rate = rateRow.Bs != null ? parseFloat(rateRow.Bs) : null;\n\nconst financial = (order.financial_status || '').toLowerCase();\nlet status = 'pendiente_pago';\nif (['paid','authorized','pending'].includes(financial)) status = 'confirmado';\nif ((order.fulfillment_status || '').toLowerCase() === 'fulfilled') status = 'entregado';\nif (['refunded','voided'].includes(financial)) status = 'cancelado';\n\nconst cust = order.customer || {};\nconst ship = order.shipping_address || order.billing_address || {};\nconst clientName = [cust.first_name, cust.last_name].filter(Boolean).join(' ').trim() || ship.name || null;\nconst clientPhone = (cust.phone || ship.phone || order.phone || '').replace(/\\s+/g,'') || null;\nconst addressParts = [ship.address1, ship.address2, ship.city, ship.province].filter(Boolean);\nconst deliveryAddress = addressParts.length ? addressParts.join(', ') : null;\n\nconst subtotalUsd = parseFloat(order.subtotal_price || order.current_subtotal_price || 0);\nconst totalUsd = parseFloat(order.total_price || order.current_total_price || 0);\nconst deliveryCostUsd = parseFloat((order.total_shipping_price_set && order.total_shipping_price_set.shop_money && order.total_shipping_price_set.shop_money.amount) || order.shipping_lines?.[0]?.price || 0);\nconst totalBs = rate ? Math.round(totalUsd * rate * 100) / 100 : null;\n\nlet paymentMethod = null;\nconst gw = (order.payment_gateway_names || order.gateway || []).toString().toLowerCase();\nif (gw.includes('zelle')) paymentMethod = 'zelle';\nelse if (gw.includes('cash') || gw.includes('manual')) paymentMethod = 'cash';\nelse if (gw.includes('binance')) paymentMethod = 'binance';\nelse if (gw) paymentMethod = 'bolivares';\n\nconst orderPayload = {\n  shopify_order_id: String(order.id),\n  order_number: String(order.order_number || order.name || ''),\n  client_name: clientName,\n  client_phone: clientPhone,\n  client_city: ship.city || null,\n  channel: 'shopify',\n  status,\n  delivery_type: deliveryAddress ? 'delivery' : null,\n  delivery_address: deliveryAddress,\n  subtotal_usd: subtotalUsd || null,\n  delivery_cost_usd: deliveryCostUsd || 0,\n  total_usd: totalUsd || null,\n  total_bs: totalBs,\n  exchange_rate: rate,\n  payment_method: paymentMethod,\n  notes: order.note || null\n};\n\nconst lineItems = (order.line_items || []).map(li => ({\n  sku: li.sku || null,\n  product_name: li.title || li.name || 'Producto',\n  size: (li.variant_title || '').split('/')[0]?.trim() || null,\n  color: (li.variant_title || '').split('/')[1]?.trim() || null,\n  quantity: li.quantity || 1,\n  unit_price_usd: parseFloat(li.price || 0),\n  total_price_usd: Math.round(parseFloat(li.price || 0) * (li.quantity || 1) * 100) / 100\n}));\n\nreturn [{ json: { order: orderPayload, lineItems, _meta: { orderNumber: orderPayload.order_number, totalUsd, totalBs, rate } } }];"},"id":"code-transform","name":"Transform order","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?on_conflict=shopify_order_id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.order) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-insert-order","name":"Insert order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"jsCode":"// Attach order_id to each line item\nconst inserted = $input.first().json;\nconst orderRow = Array.isArray(inserted) ? inserted[0] : inserted;\nconst orderId = orderRow.id;\nconst lineItems = $('Transform order').first().json.lineItems || [];\nconst rows = lineItems.map(li => ({ ...li, order_id: orderId }));\nconst meta = $('Transform order').first().json._meta;\nreturn [{ json: { rows, orderId, orderRow, _meta: meta } }];"},"id":"code-prep-items","name":"Prepare line items","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/order_items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.rows) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-insert-items","name":"Insert line items","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"584241192029\",\n  \"text\": {{ JSON.stringify('🛒 *Nuevo pedido Shopify*\\n\\nOrden: #' + $('Prepare line items').first().json._meta.orderNumber + '\\nTotal: $' + $('Prepare line items').first().json._meta.totalUsd + ' (Bs ' + ($('Prepare line items').first().json._meta.totalBs || '—') + ')\\nCliente: ' + ($('Transform order').first().json.order.client_name || 'N/A') + '\\nTel: ' + ($('Transform order').first().json.order.client_phone || 'N/A') + '\\nCiudad: ' + ($('Transform order').first().json.order.client_city || 'N/A') + '\\n\\nID Shadow: ' + $('Prepare line items').first().json.orderId) }}\n}","options":{}},"id":"http-notify","name":"Notify admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,300]}],"connections":{"Shopify: Order Created":{"main":[[{"node":"Get rate today","type":"main","index":0}]]},"Get rate today":{"main":[[{"node":"Transform order","type":"main","index":0}]]},"Transform order":{"main":[[{"node":"Insert order","type":"main","index":0}]]},"Insert order":{"main":[[{"node":"Prepare line items","type":"main","index":0}]]},"Prepare line items":{"main":[[{"node":"Insert line items","type":"main","index":0}]]},"Insert line items":{"main":[[{"node":"Notify admin","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Shopify: Order Created":{"webhookId":1441922744433}},"meta":null,"pinData":null,"versionId":"dcdcd8da-0ef3-4a44-b8a2-a819fb7a1285","activeVersionId":"dcdcd8da-0ef3-4a44-b8a2-a819fb7a1285","versionCounter":18,"triggerCount":1,"shared":[{"updatedAt":"2026-04-15T19:18:57.607Z","createdAt":"2026-04-15T19:18:57.607Z","role":"workflow:owner","workflowId":"GUanijFyA7biDyRX","projectId":"NJ3rjcCVeDHPF7sa","project":{"updatedAt":"2025-11-03T14:48:00.044Z","createdAt":"2025-11-03T14:41:36.663Z","id":"NJ3rjcCVeDHPF7sa","name":"Aniello Rescigno <rescignoaniello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectRelations":[{"updatedAt":"2025-11-03T14:41:36.664Z","createdAt":"2025-11-03T14:41:36.664Z","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectId":"NJ3rjcCVeDHPF7sa","user":{"updatedAt":"2026-04-16T19:05:24.000Z","createdAt":"2025-11-03T14:41:35.993Z","id":"448be12a-ad32-4dc2-85c1-be8439daf6a3","email":"rescignoaniello@gmail.com","firstName":"Aniello","lastName":"Rescigno","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-03T14:48:19.853Z","personalization_survey_n8n_version":"1.103.2","companySize":"personalUser","companyType":"ecommerce","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"DYUtIYpfTjv9nnRK","userActivatedAt":1762197033728,"npsSurvey":{"responded":true,"lastShownAt":1770322564226},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-17T00:48:18.022Z","createdAt":"2026-04-17T00:48:18.022Z","versionId":"dcdcd8da-0ef3-4a44-b8a2-a819fb7a1285","workflowId":"GUanijFyA7biDyRX","nodes":[{"parameters":{"authentication":"oAuth2","topic":"orders/create"},"id":"trigger-shopify","name":"Shopify: Order Created","type":"n8n-nodes-base.shopifyTrigger","typeVersion":1,"position":[240,300],"credentials":{"shopifyOAuth2Api":{"id":"hkN5bDuOp689jPuQ","name":"Shopify-Primal-Access Token account"}},"webhookId":"shadow-ios-shopify-new-order"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"loqfhiiOtaUzk9GC","mode":"list","cachedResultName":"usd_bs_rate"},"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"1"}]}},"id":"dt-get-rate","name":"Get rate today","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[460,300]},{"parameters":{"jsCode":"// Merge Shopify order with today's exchange rate\nconst order = $('Shopify: Order Created').first().json;\nconst rateRow = $input.first().json || {};\nconst rate = rateRow.Bs != null ? parseFloat(rateRow.Bs) : null;\n\nconst financial = (order.financial_status || '').toLowerCase();\nlet status = 'pendiente_pago';\nif (['paid','authorized','pending'].includes(financial)) status = 'confirmado';\nif ((order.fulfillment_status || '').toLowerCase() === 'fulfilled') status = 'entregado';\nif (['refunded','voided'].includes(financial)) status = 'cancelado';\n\nconst cust = order.customer || {};\nconst ship = order.shipping_address || order.billing_address || {};\nconst clientName = [cust.first_name, cust.last_name].filter(Boolean).join(' ').trim() || ship.name || null;\nconst clientPhone = (cust.phone || ship.phone || order.phone || '').replace(/\\s+/g,'') || null;\nconst addressParts = [ship.address1, ship.address2, ship.city, ship.province].filter(Boolean);\nconst deliveryAddress = addressParts.length ? addressParts.join(', ') : null;\n\nconst subtotalUsd = parseFloat(order.subtotal_price || order.current_subtotal_price || 0);\nconst totalUsd = parseFloat(order.total_price || order.current_total_price || 0);\nconst deliveryCostUsd = parseFloat((order.total_shipping_price_set && order.total_shipping_price_set.shop_money && order.total_shipping_price_set.shop_money.amount) || order.shipping_lines?.[0]?.price || 0);\nconst totalBs = rate ? Math.round(totalUsd * rate * 100) / 100 : null;\n\nlet paymentMethod = null;\nconst gw = (order.payment_gateway_names || order.gateway || []).toString().toLowerCase();\nif (gw.includes('zelle')) paymentMethod = 'zelle';\nelse if (gw.includes('cash') || gw.includes('manual')) paymentMethod = 'cash';\nelse if (gw.includes('binance')) paymentMethod = 'binance';\nelse if (gw) paymentMethod = 'bolivares';\n\nconst orderPayload = {\n  shopify_order_id: String(order.id),\n  order_number: String(order.order_number || order.name || ''),\n  client_name: clientName,\n  client_phone: clientPhone,\n  client_city: ship.city || null,\n  channel: 'shopify',\n  status,\n  delivery_type: deliveryAddress ? 'delivery' : null,\n  delivery_address: deliveryAddress,\n  subtotal_usd: subtotalUsd || null,\n  delivery_cost_usd: deliveryCostUsd || 0,\n  total_usd: totalUsd || null,\n  total_bs: totalBs,\n  exchange_rate: rate,\n  payment_method: paymentMethod,\n  notes: order.note || null\n};\n\nconst lineItems = (order.line_items || []).map(li => ({\n  sku: li.sku || null,\n  product_name: li.title || li.name || 'Producto',\n  size: (li.variant_title || '').split('/')[0]?.trim() || null,\n  color: (li.variant_title || '').split('/')[1]?.trim() || null,\n  quantity: li.quantity || 1,\n  unit_price_usd: parseFloat(li.price || 0),\n  total_price_usd: Math.round(parseFloat(li.price || 0) * (li.quantity || 1) * 100) / 100\n}));\n\nreturn [{ json: { order: orderPayload, lineItems, _meta: { orderNumber: orderPayload.order_number, totalUsd, totalBs, rate } } }];"},"id":"code-transform","name":"Transform order","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?on_conflict=shopify_order_id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.order) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-insert-order","name":"Insert order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"jsCode":"// Attach order_id to each line item\nconst inserted = $input.first().json;\nconst orderRow = Array.isArray(inserted) ? inserted[0] : inserted;\nconst orderId = orderRow.id;\nconst lineItems = $('Transform order').first().json.lineItems || [];\nconst rows = lineItems.map(li => ({ ...li, order_id: orderId }));\nconst meta = $('Transform order').first().json._meta;\nreturn [{ json: { rows, orderId, orderRow, _meta: meta } }];"},"id":"code-prep-items","name":"Prepare line items","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/order_items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.rows) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-insert-items","name":"Insert line items","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"584241192029\",\n  \"text\": {{ JSON.stringify('🛒 *Nuevo pedido Shopify*\\n\\nOrden: #' + $('Prepare line items').first().json._meta.orderNumber + '\\nTotal: $' + $('Prepare line items').first().json._meta.totalUsd + ' (Bs ' + ($('Prepare line items').first().json._meta.totalBs || '—') + ')\\nCliente: ' + ($('Transform order').first().json.order.client_name || 'N/A') + '\\nTel: ' + ($('Transform order').first().json.order.client_phone || 'N/A') + '\\nCiudad: ' + ($('Transform order').first().json.order.client_city || 'N/A') + '\\n\\nID Shadow: ' + $('Prepare line items').first().json.orderId) }}\n}","options":{}},"id":"http-notify","name":"Notify admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,300]}],"connections":{"Shopify: Order Created":{"main":[[{"node":"Get rate today","type":"main","index":0}]]},"Get rate today":{"main":[[{"node":"Transform order","type":"main","index":0}]]},"Transform order":{"main":[[{"node":"Insert order","type":"main","index":0}]]},"Insert order":{"main":[[{"node":"Prepare line items","type":"main","index":0}]]},"Prepare line items":{"main":[[{"node":"Insert line items","type":"main","index":0}]]},"Insert line items":{"main":[[{"node":"Notify admin","type":"main","index":0}]]}},"authors":"Aniello Rescigno","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-17T00:48:19.675Z","id":755,"workflowId":"GUanijFyA7biDyRX","versionId":"dcdcd8da-0ef3-4a44-b8a2-a819fb7a1285","event":"activated","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3"}]}}