n8n/workflows/03_kira_new_sale.json
{"updatedAt":"2026-04-17T00:48:20.962Z","createdAt":"2026-04-15T19:35:59.024Z","id":"qvySBgmDdvTHatVO","name":"Shadow iOS — 03 Kira nueva venta","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"kira-new-sale","responseMode":"responseNode","options":{}},"id":"webhook-kira","name":"Webhook: kira-new-sale","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,300],"webhookId":"shadow-ios-kira-new-sale"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"loqfhiiOtaUzk9GC","mode":"list","cachedResultName":"usd_bs_rate"},"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"1"}]}},"id":"dt-get-rate","name":"Get rate","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[440,300]},{"parameters":{"jsCode":"// Build order + items + cash_movement from Kira payload\nconst body = $('Webhook: kira-new-sale').first().json.body || $('Webhook: kira-new-sale').first().json;\nconst rateRow = $input.first().json || {};\nconst rate = rateRow.Bs != null ? parseFloat(rateRow.Bs) : null;\n\nconst client = body.client || {};\nconst delivery = body.delivery || {};\nconst payment = body.payment || {};\nconst items = Array.isArray(body.items) ? body.items : [];\n\nconst subtotalUsd = items.reduce((s, it) => s + (parseFloat(it.unit_price_usd || 0) * (parseInt(it.quantity || 1))), 0);\nconst deliveryCostUsd = parseFloat(delivery.cost_usd || 0);\nconst totalUsd = Math.round((subtotalUsd + deliveryCostUsd) * 100) / 100;\nconst totalBs = rate ? Math.round(totalUsd * rate * 100) / 100 : null;\n\nconst amountPaidUsd = parseFloat(payment.amount_usd || 0) || null;\nconst amountPaidBs = parseFloat(payment.amount_bs || 0) || null;\nconst paidUsdEq = (amountPaidUsd || 0) + (rate && amountPaidBs ? amountPaidBs / rate : 0);\nconst changeGiven = Math.max(0, Math.round((paidUsdEq - totalUsd) * 100) / 100);\n\nconst allowedMethods = ['cash','zelle','bolivares','binance','mixto'];\nconst paymentMethod = allowedMethods.includes(payment.method) ? payment.method : null;\n\nconst status = payment.method ? 'confirmado' : 'pendiente_pago';\n\nconst orderPayload = {\n  order_number: body.order_number || null,\n  client_name: client.name || null,\n  client_phone: (client.phone || '').replace(/\\s+/g,'') || null,\n  client_city: client.city || null,\n  client_cedula: client.cedula || null,\n  channel: 'whatsapp',\n  status,\n  delivery_type: delivery.type || null,\n  carrier: delivery.carrier || null,\n  tracking_number: delivery.tracking_number || null,\n  delivery_address: delivery.address || null,\n  subtotal_usd: Math.round(subtotalUsd * 100) / 100 || null,\n  delivery_cost_usd: deliveryCostUsd || 0,\n  total_usd: totalUsd || null,\n  total_bs: totalBs,\n  exchange_rate: rate,\n  payment_method: paymentMethod,\n  amount_paid_usd: amountPaidUsd,\n  amount_paid_bs: amountPaidBs,\n  change_given: changeGiven,\n  notes: body.notes || null,\n  kira_conversation_id: body.kira_conversation_id || null\n};\n\nconst lineItems = items.map(it => ({\n  sku: it.sku || null,\n  product_name: it.product_name || it.name || 'Producto',\n  size: it.size || null,\n  color: it.color || null,\n  quantity: parseInt(it.quantity || 1),\n  unit_price_usd: parseFloat(it.unit_price_usd || 0),\n  unit_cost_usd: it.unit_cost_usd != null ? parseFloat(it.unit_cost_usd) : null,\n  total_price_usd: Math.round(parseFloat(it.unit_price_usd || 0) * parseInt(it.quantity || 1) * 100) / 100\n}));\n\nreturn [{ json: { order: orderPayload, lineItems, payment, rate } }];"},"id":"code-transform","name":"Transform Kira payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.order) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-insert-order","name":"Insert order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"jsCode":"const inserted = $input.first().json;\nconst orderRow = Array.isArray(inserted) ? inserted[0] : inserted;\nconst orderId = orderRow.id;\nconst t = $('Transform Kira payload').first().json;\nconst itemRows = (t.lineItems || []).map(li => ({ ...li, order_id: orderId }));\n\n// Build cash_movements (one per wallet used)\nconst cashRows = [];\nconst p = t.payment || {};\nconst rate = t.rate || null;\nif (p.amount_usd) {\n  const wallet = p.method === 'zelle' ? 'zelle' : 'cash_usd';\n  cashRows.push({\n    movement_type: 'ingreso',\n    wallet,\n    amount: parseFloat(p.amount_usd),\n    exchange_rate: rate,\n    amount_usd_equivalent: parseFloat(p.amount_usd),\n    concept: 'Venta WhatsApp',\n    order_id: orderId\n  });\n}\nif (p.amount_bs) {\n  cashRows.push({\n    movement_type: 'ingreso',\n    wallet: 'bolivares',\n    amount: parseFloat(p.amount_bs),\n    exchange_rate: rate,\n    amount_usd_equivalent: rate ? Math.round((parseFloat(p.amount_bs) / rate) * 100) / 100 : null,\n    concept: 'Venta WhatsApp',\n    order_id: orderId\n  });\n}\n\nreturn [{ json: { orderId, orderRow, itemRows, cashRows } }];"},"id":"code-prep","name":"Prepare children","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/order_items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.itemRows) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-insert-items","name":"Insert order_items","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,220],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Prepare children').first().json.cashRows.length ? JSON.stringify($('Prepare children').first().json.cashRows) : '[]' }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-insert-cash","name":"Insert cash_movements","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,380],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, order_id: $('Prepare children').first().json.orderId, order_number: $('Prepare children').first().json.orderRow.order_number, total_usd: $('Prepare children').first().json.orderRow.total_usd, total_bs: $('Prepare children').first().json.orderRow.total_bs }) }}","options":{}},"id":"respond-kira","name":"Respond to Kira","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1540,300]}],"connections":{"Webhook: kira-new-sale":{"main":[[{"node":"Get rate","type":"main","index":0}]]},"Get rate":{"main":[[{"node":"Transform Kira payload","type":"main","index":0}]]},"Transform Kira payload":{"main":[[{"node":"Insert order","type":"main","index":0}]]},"Insert order":{"main":[[{"node":"Prepare children","type":"main","index":0}]]},"Prepare children":{"main":[[{"node":"Insert order_items","type":"main","index":0},{"node":"Insert cash_movements","type":"main","index":0}]]},"Insert order_items":{"main":[[{"node":"Respond to Kira","type":"main","index":0}]]},"Insert cash_movements":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7c9d10b5-c0c1-431b-941b-ae4bec97eb00","activeVersionId":"7c9d10b5-c0c1-431b-941b-ae4bec97eb00","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2026-04-15T19:35:59.033Z","createdAt":"2026-04-15T19:35:59.033Z","role":"workflow:owner","workflowId":"qvySBgmDdvTHatVO","projectId":"NJ3rjcCVeDHPF7sa","project":{"updatedAt":"2025-11-03T14:48:00.044Z","createdAt":"2025-11-03T14:41:36.663Z","id":"NJ3rjcCVeDHPF7sa","name":"Aniello Rescigno <rescignoaniello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectRelations":[{"updatedAt":"2025-11-03T14:41:36.664Z","createdAt":"2025-11-03T14:41:36.664Z","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectId":"NJ3rjcCVeDHPF7sa","user":{"updatedAt":"2026-04-16T19:05:24.000Z","createdAt":"2025-11-03T14:41:35.993Z","id":"448be12a-ad32-4dc2-85c1-be8439daf6a3","email":"rescignoaniello@gmail.com","firstName":"Aniello","lastName":"Rescigno","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-03T14:48:19.853Z","personalization_survey_n8n_version":"1.103.2","companySize":"personalUser","companyType":"ecommerce","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"DYUtIYpfTjv9nnRK","userActivatedAt":1762197033728,"npsSurvey":{"responded":true,"lastShownAt":1770322564226},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-17T00:48:20.963Z","createdAt":"2026-04-17T00:48:20.963Z","versionId":"7c9d10b5-c0c1-431b-941b-ae4bec97eb00","workflowId":"qvySBgmDdvTHatVO","nodes":[{"parameters":{"httpMethod":"POST","path":"kira-new-sale","responseMode":"responseNode","options":{}},"id":"webhook-kira","name":"Webhook: kira-new-sale","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,300],"webhookId":"shadow-ios-kira-new-sale"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"loqfhiiOtaUzk9GC","mode":"list","cachedResultName":"usd_bs_rate"},"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"1"}]}},"id":"dt-get-rate","name":"Get rate","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[440,300]},{"parameters":{"jsCode":"// Build order + items + cash_movement from Kira payload\nconst body = $('Webhook: kira-new-sale').first().json.body || $('Webhook: kira-new-sale').first().json;\nconst rateRow = $input.first().json || {};\nconst rate = rateRow.Bs != null ? parseFloat(rateRow.Bs) : null;\n\nconst client = body.client || {};\nconst delivery = body.delivery || {};\nconst payment = body.payment || {};\nconst items = Array.isArray(body.items) ? body.items : [];\n\nconst subtotalUsd = items.reduce((s, it) => s + (parseFloat(it.unit_price_usd || 0) * (parseInt(it.quantity || 1))), 0);\nconst deliveryCostUsd = parseFloat(delivery.cost_usd || 0);\nconst totalUsd = Math.round((subtotalUsd + deliveryCostUsd) * 100) / 100;\nconst totalBs = rate ? Math.round(totalUsd * rate * 100) / 100 : null;\n\nconst amountPaidUsd = parseFloat(payment.amount_usd || 0) || null;\nconst amountPaidBs = parseFloat(payment.amount_bs || 0) || null;\nconst paidUsdEq = (amountPaidUsd || 0) + (rate && amountPaidBs ? amountPaidBs / rate : 0);\nconst changeGiven = Math.max(0, Math.round((paidUsdEq - totalUsd) * 100) / 100);\n\nconst allowedMethods = ['cash','zelle','bolivares','binance','mixto'];\nconst paymentMethod = allowedMethods.includes(payment.method) ? payment.method : null;\n\nconst status = payment.method ? 'confirmado' : 'pendiente_pago';\n\nconst orderPayload = {\n  order_number: body.order_number || null,\n  client_name: client.name || null,\n  client_phone: (client.phone || '').replace(/\\s+/g,'') || null,\n  client_city: client.city || null,\n  client_cedula: client.cedula || null,\n  channel: 'whatsapp',\n  status,\n  delivery_type: delivery.type || null,\n  carrier: delivery.carrier || null,\n  tracking_number: delivery.tracking_number || null,\n  delivery_address: delivery.address || null,\n  subtotal_usd: Math.round(subtotalUsd * 100) / 100 || null,\n  delivery_cost_usd: deliveryCostUsd || 0,\n  total_usd: totalUsd || null,\n  total_bs: totalBs,\n  exchange_rate: rate,\n  payment_method: paymentMethod,\n  amount_paid_usd: amountPaidUsd,\n  amount_paid_bs: amountPaidBs,\n  change_given: changeGiven,\n  notes: body.notes || null,\n  kira_conversation_id: body.kira_conversation_id || null\n};\n\nconst lineItems = items.map(it => ({\n  sku: it.sku || null,\n  product_name: it.product_name || it.name || 'Producto',\n  size: it.size || null,\n  color: it.color || null,\n  quantity: parseInt(it.quantity || 1),\n  unit_price_usd: parseFloat(it.unit_price_usd || 0),\n  unit_cost_usd: it.unit_cost_usd != null ? parseFloat(it.unit_cost_usd) : null,\n  total_price_usd: Math.round(parseFloat(it.unit_price_usd || 0) * parseInt(it.quantity || 1) * 100) / 100\n}));\n\nreturn [{ json: { order: orderPayload, lineItems, payment, rate } }];"},"id":"code-transform","name":"Transform Kira payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.order) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-insert-order","name":"Insert order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"jsCode":"const inserted = $input.first().json;\nconst orderRow = Array.isArray(inserted) ? inserted[0] : inserted;\nconst orderId = orderRow.id;\nconst t = $('Transform Kira payload').first().json;\nconst itemRows = (t.lineItems || []).map(li => ({ ...li, order_id: orderId }));\n\n// Build cash_movements (one per wallet used)\nconst cashRows = [];\nconst p = t.payment || {};\nconst rate = t.rate || null;\nif (p.amount_usd) {\n  const wallet = p.method === 'zelle' ? 'zelle' : 'cash_usd';\n  cashRows.push({\n    movement_type: 'ingreso',\n    wallet,\n    amount: parseFloat(p.amount_usd),\n    exchange_rate: rate,\n    amount_usd_equivalent: parseFloat(p.amount_usd),\n    concept: 'Venta WhatsApp',\n    order_id: orderId\n  });\n}\nif (p.amount_bs) {\n  cashRows.push({\n    movement_type: 'ingreso',\n    wallet: 'bolivares',\n    amount: parseFloat(p.amount_bs),\n    exchange_rate: rate,\n    amount_usd_equivalent: rate ? Math.round((parseFloat(p.amount_bs) / rate) * 100) / 100 : null,\n    concept: 'Venta WhatsApp',\n    order_id: orderId\n  });\n}\n\nreturn [{ json: { orderId, orderRow, itemRows, cashRows } }];"},"id":"code-prep","name":"Prepare children","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/order_items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.itemRows) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-insert-items","name":"Insert order_items","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,220],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Prepare children').first().json.cashRows.length ? JSON.stringify($('Prepare children').first().json.cashRows) : '[]' }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-insert-cash","name":"Insert cash_movements","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,380],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, order_id: $('Prepare children').first().json.orderId, order_number: $('Prepare children').first().json.orderRow.order_number, total_usd: $('Prepare children').first().json.orderRow.total_usd, total_bs: $('Prepare children').first().json.orderRow.total_bs }) }}","options":{}},"id":"respond-kira","name":"Respond to Kira","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1540,300]}],"connections":{"Webhook: kira-new-sale":{"main":[[{"node":"Get rate","type":"main","index":0}]]},"Get rate":{"main":[[{"node":"Transform Kira payload","type":"main","index":0}]]},"Transform Kira payload":{"main":[[{"node":"Insert order","type":"main","index":0}]]},"Insert order":{"main":[[{"node":"Prepare children","type":"main","index":0}]]},"Prepare children":{"main":[[{"node":"Insert order_items","type":"main","index":0},{"node":"Insert cash_movements","type":"main","index":0}]]},"Insert order_items":{"main":[[{"node":"Respond to Kira","type":"main","index":0}]]},"Insert cash_movements":{"main":[[]]}},"authors":"Aniello Rescigno","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-17T00:48:21.043Z","id":756,"workflowId":"qvySBgmDdvTHatVO","versionId":"7c9d10b5-c0c1-431b-941b-ae4bec97eb00","event":"activated","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3"}]}}