n8n/workflows/04_daily_summary.json
{"updatedAt":"2026-04-17T00:48:22.346Z","createdAt":"2026-04-15T19:40:03.630Z","id":"v67cGduUEFLwFnbq","name":"Shadow iOS — 04 Resumen diario","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * *"}]}},"id":"trigger-cron","name":"Cron 10pm VZ (02:00 UTC)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300]},{"parameters":{"jsCode":"// Compute VZ date window (UTC-4). Runs at 02:00 UTC = 22:00 VZ of previous UTC-day\nconst now = new Date();\nconst vzNow = new Date(now.getTime() - 4 * 3600 * 1000);\nconst y = vzNow.getUTCFullYear();\nconst m = String(vzNow.getUTCMonth() + 1).padStart(2, '0');\nconst d = String(vzNow.getUTCDate()).padStart(2, '0');\nconst vzDate = `${y}-${m}-${d}`;\nconst startIso = `${vzDate}T04:00:00Z`;\nconst next = new Date(Date.UTC(y, vzNow.getUTCMonth(), vzNow.getUTCDate() + 1));\nconst ny = next.getUTCFullYear();\nconst nm = String(next.getUTCMonth() + 1).padStart(2, '0');\nconst nd = String(next.getUTCDate()).padStart(2, '0');\nconst endIso = `${ny}-${nm}-${nd}T04:00:00Z`;\nconst fmtDate = `${d}/${m}/${y}`;\nreturn [{ json: { vzDate, startIso, endIso, fmtDate } }];"},"id":"code-date","name":"VZ date window","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?created_at=gte.{{ $json.startIso }}&created_at=lt.{{ $json.endIso }}&select=id,status,total_usd,channel","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-orders","name":"Get orders today","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,180],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements?created_at=gte.{{ $('VZ date window').first().json.startIso }}&created_at=lt.{{ $('VZ date window').first().json.endIso }}&select=wallet,amount,amount_usd_equivalent,movement_type","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-cash","name":"Get cash today","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,180],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"GET","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?status=in.(pendiente,asignado,en_ruta)&select=rider_name,destination,status,cash_to_collect_usd","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-deliveries","name":"Get pending deliveries","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,180],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"loqfhiiOtaUzk9GC","mode":"list","cachedResultName":"usd_bs_rate"},"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"1"}]}},"id":"dt-get-rate","name":"Get rate","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1220,180]},{"parameters":{"jsCode":"// Build WhatsApp markdown summary\nconst dateInfo = $('VZ date window').first().json;\nconst ordersRaw = $('Get orders today').first().json || [];\nconst cashRaw = $('Get cash today').first().json || [];\nconst delivsRaw = $('Get pending deliveries').first().json || [];\nconst rateRow = $input.first().json || {};\nconst tasa = rateRow.Bs != null ? parseFloat(rateRow.Bs) : null;\n\nconst orders = Array.isArray(ordersRaw) ? ordersRaw : [];\nconst cash = Array.isArray(cashRaw) ? cashRaw : [];\nconst delivs = Array.isArray(delivsRaw) ? delivsRaw : [];\n\n// Count by status\nconst byStatus = orders.reduce((a, o) => { a[o.status] = (a[o.status]||0)+1; return a; }, {});\nconst nuevos = orders.length;\nconst enRuta = byStatus['en_ruta'] || 0;\nconst entregados = (byStatus['entregado'] || 0) + (byStatus['completado'] || 0);\n\n// Cash by wallet\nconst sumBy = (w, field) => cash.filter(c => c.wallet === w && c.movement_type === 'ingreso').reduce((s, c) => s + parseFloat(c[field] || 0), 0);\nconst totalCashUsd = sumBy('cash_usd', 'amount');\nconst totalZelle = sumBy('zelle', 'amount');\nconst totalBs = sumBy('bolivares', 'amount');\nconst bsInUsd = tasa ? totalBs / tasa : 0;\nconst granTotal = totalCashUsd + totalZelle + bsInUsd;\n\nconst fmtUsd = v => '$' + (Math.round(v * 100) / 100).toFixed(2);\nconst fmtBs = v => 'Bs ' + (Math.round(v * 100) / 100).toLocaleString('es-VE');\n\n// Deliveries list\nlet deliveriesList = 'Ninguno';\nif (delivs.length) {\n  const byRider = delivs.reduce((a, d) => { const k = d.rider_name || 'sin asignar'; (a[k] = a[k] || []).push(d); return a; }, {});\n  deliveriesList = Object.entries(byRider).map(([rider, ds]) => {\n    const lines = ds.map(d => `  - ${d.destination || 'N/A'} (${d.status})`).join('\\n');\n    return `_${rider}_:\\n${lines}`;\n  }).join('\\n');\n}\n\nconst tasaStr = tasa ? (Math.round(tasa * 100) / 100).toString() : '—';\n\nconst text = `📊 *Resumen del día - Primal*\\n📅 ${dateInfo.fmtDate}\\n\\n💵 *CAJA*\\nCash USD: ${fmtUsd(totalCashUsd)}\\nZelle: ${fmtUsd(totalZelle)}\\nBolívares: ${fmtBs(totalBs)} (≈ ${fmtUsd(bsInUsd)})\\n💰 Total: ${fmtUsd(granTotal)}\\n\\n📦 *PEDIDOS HOY*\\nNuevos: ${nuevos} | En ruta: ${enRuta} | Entregados: ${entregados}\\n\\n🏍️ *DELIVERIES PENDIENTES*\\n${deliveriesList}\\n\\n💱 Tasa: Bs ${tasaStr}/USD`;\n\nreturn [{ json: { text } }];"},"id":"code-format","name":"Format summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,300]},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"584241192029\",\n  \"text\": {{ JSON.stringify($json.text) }}\n}","options":{}},"id":"http-send","name":"Send WhatsApp admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,300]}],"connections":{"Cron 10pm VZ (02:00 UTC)":{"main":[[{"node":"VZ date window","type":"main","index":0}]]},"VZ date window":{"main":[[{"node":"Get orders today","type":"main","index":0}]]},"Get orders today":{"main":[[{"node":"Get cash today","type":"main","index":0}]]},"Get cash today":{"main":[[{"node":"Get pending deliveries","type":"main","index":0}]]},"Get pending deliveries":{"main":[[{"node":"Get rate","type":"main","index":0}]]},"Get rate":{"main":[[{"node":"Format summary","type":"main","index":0}]]},"Format summary":{"main":[[{"node":"Send WhatsApp admin","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Cron 10pm VZ (02:00 UTC)":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"b005637e-8142-4000-bf30-387b20157e57","activeVersionId":"b005637e-8142-4000-bf30-387b20157e57","versionCounter":7,"triggerCount":1,"shared":[{"updatedAt":"2026-04-15T19:40:03.636Z","createdAt":"2026-04-15T19:40:03.636Z","role":"workflow:owner","workflowId":"v67cGduUEFLwFnbq","projectId":"NJ3rjcCVeDHPF7sa","project":{"updatedAt":"2025-11-03T14:48:00.044Z","createdAt":"2025-11-03T14:41:36.663Z","id":"NJ3rjcCVeDHPF7sa","name":"Aniello Rescigno <rescignoaniello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectRelations":[{"updatedAt":"2025-11-03T14:41:36.664Z","createdAt":"2025-11-03T14:41:36.664Z","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectId":"NJ3rjcCVeDHPF7sa","user":{"updatedAt":"2026-04-16T19:05:24.000Z","createdAt":"2025-11-03T14:41:35.993Z","id":"448be12a-ad32-4dc2-85c1-be8439daf6a3","email":"rescignoaniello@gmail.com","firstName":"Aniello","lastName":"Rescigno","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-03T14:48:19.853Z","personalization_survey_n8n_version":"1.103.2","companySize":"personalUser","companyType":"ecommerce","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"DYUtIYpfTjv9nnRK","userActivatedAt":1762197033728,"npsSurvey":{"responded":true,"lastShownAt":1770322564226},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-17T00:48:22.348Z","createdAt":"2026-04-17T00:48:22.348Z","versionId":"b005637e-8142-4000-bf30-387b20157e57","workflowId":"v67cGduUEFLwFnbq","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 2 * * *"}]}},"id":"trigger-cron","name":"Cron 10pm VZ (02:00 UTC)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300]},{"parameters":{"jsCode":"// Compute VZ date window (UTC-4). Runs at 02:00 UTC = 22:00 VZ of previous UTC-day\nconst now = new Date();\nconst vzNow = new Date(now.getTime() - 4 * 3600 * 1000);\nconst y = vzNow.getUTCFullYear();\nconst m = String(vzNow.getUTCMonth() + 1).padStart(2, '0');\nconst d = String(vzNow.getUTCDate()).padStart(2, '0');\nconst vzDate = `${y}-${m}-${d}`;\nconst startIso = `${vzDate}T04:00:00Z`;\nconst next = new Date(Date.UTC(y, vzNow.getUTCMonth(), vzNow.getUTCDate() + 1));\nconst ny = next.getUTCFullYear();\nconst nm = String(next.getUTCMonth() + 1).padStart(2, '0');\nconst nd = String(next.getUTCDate()).padStart(2, '0');\nconst endIso = `${ny}-${nm}-${nd}T04:00:00Z`;\nconst fmtDate = `${d}/${m}/${y}`;\nreturn [{ json: { vzDate, startIso, endIso, fmtDate } }];"},"id":"code-date","name":"VZ date window","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?created_at=gte.{{ $json.startIso }}&created_at=lt.{{ $json.endIso }}&select=id,status,total_usd,channel","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-orders","name":"Get orders today","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,180],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements?created_at=gte.{{ $('VZ date window').first().json.startIso }}&created_at=lt.{{ $('VZ date window').first().json.endIso }}&select=wallet,amount,amount_usd_equivalent,movement_type","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-cash","name":"Get cash today","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,180],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"GET","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?status=in.(pendiente,asignado,en_ruta)&select=rider_name,destination,status,cash_to_collect_usd","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-deliveries","name":"Get pending deliveries","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,180],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"loqfhiiOtaUzk9GC","mode":"list","cachedResultName":"usd_bs_rate"},"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"1"}]}},"id":"dt-get-rate","name":"Get rate","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1220,180]},{"parameters":{"jsCode":"// Build WhatsApp markdown summary\nconst dateInfo = $('VZ date window').first().json;\nconst ordersRaw = $('Get orders today').first().json || [];\nconst cashRaw = $('Get cash today').first().json || [];\nconst delivsRaw = $('Get pending deliveries').first().json || [];\nconst rateRow = $input.first().json || {};\nconst tasa = rateRow.Bs != null ? parseFloat(rateRow.Bs) : null;\n\nconst orders = Array.isArray(ordersRaw) ? ordersRaw : [];\nconst cash = Array.isArray(cashRaw) ? cashRaw : [];\nconst delivs = Array.isArray(delivsRaw) ? delivsRaw : [];\n\n// Count by status\nconst byStatus = orders.reduce((a, o) => { a[o.status] = (a[o.status]||0)+1; return a; }, {});\nconst nuevos = orders.length;\nconst enRuta = byStatus['en_ruta'] || 0;\nconst entregados = (byStatus['entregado'] || 0) + (byStatus['completado'] || 0);\n\n// Cash by wallet\nconst sumBy = (w, field) => cash.filter(c => c.wallet === w && c.movement_type === 'ingreso').reduce((s, c) => s + parseFloat(c[field] || 0), 0);\nconst totalCashUsd = sumBy('cash_usd', 'amount');\nconst totalZelle = sumBy('zelle', 'amount');\nconst totalBs = sumBy('bolivares', 'amount');\nconst bsInUsd = tasa ? totalBs / tasa : 0;\nconst granTotal = totalCashUsd + totalZelle + bsInUsd;\n\nconst fmtUsd = v => '$' + (Math.round(v * 100) / 100).toFixed(2);\nconst fmtBs = v => 'Bs ' + (Math.round(v * 100) / 100).toLocaleString('es-VE');\n\n// Deliveries list\nlet deliveriesList = 'Ninguno';\nif (delivs.length) {\n  const byRider = delivs.reduce((a, d) => { const k = d.rider_name || 'sin asignar'; (a[k] = a[k] || []).push(d); return a; }, {});\n  deliveriesList = Object.entries(byRider).map(([rider, ds]) => {\n    const lines = ds.map(d => `  - ${d.destination || 'N/A'} (${d.status})`).join('\\n');\n    return `_${rider}_:\\n${lines}`;\n  }).join('\\n');\n}\n\nconst tasaStr = tasa ? (Math.round(tasa * 100) / 100).toString() : '—';\n\nconst text = `📊 *Resumen del día - Primal*\\n📅 ${dateInfo.fmtDate}\\n\\n💵 *CAJA*\\nCash USD: ${fmtUsd(totalCashUsd)}\\nZelle: ${fmtUsd(totalZelle)}\\nBolívares: ${fmtBs(totalBs)} (≈ ${fmtUsd(bsInUsd)})\\n💰 Total: ${fmtUsd(granTotal)}\\n\\n📦 *PEDIDOS HOY*\\nNuevos: ${nuevos} | En ruta: ${enRuta} | Entregados: ${entregados}\\n\\n🏍️ *DELIVERIES PENDIENTES*\\n${deliveriesList}\\n\\n💱 Tasa: Bs ${tasaStr}/USD`;\n\nreturn [{ json: { text } }];"},"id":"code-format","name":"Format summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,300]},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"584241192029\",\n  \"text\": {{ JSON.stringify($json.text) }}\n}","options":{}},"id":"http-send","name":"Send WhatsApp admin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,300]}],"connections":{"Cron 10pm VZ (02:00 UTC)":{"main":[[{"node":"VZ date window","type":"main","index":0}]]},"VZ date window":{"main":[[{"node":"Get orders today","type":"main","index":0}]]},"Get orders today":{"main":[[{"node":"Get cash today","type":"main","index":0}]]},"Get cash today":{"main":[[{"node":"Get pending deliveries","type":"main","index":0}]]},"Get pending deliveries":{"main":[[{"node":"Get rate","type":"main","index":0}]]},"Get rate":{"main":[[{"node":"Format summary","type":"main","index":0}]]},"Format summary":{"main":[[{"node":"Send WhatsApp admin","type":"main","index":0}]]}},"authors":"Aniello Rescigno","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-17T00:48:22.434Z","id":757,"workflowId":"v67cGduUEFLwFnbq","versionId":"b005637e-8142-4000-bf30-387b20157e57","event":"activated","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3"}]}}