n8n/workflows/05_rate_webhook.json
{"updatedAt":"2026-04-15T20:01:34.081Z","createdAt":"2026-04-15T20:01:34.081Z","id":"9w3OqxiB8pZcOfvp","name":"Shadow iOS — 05 Rate webhook (GET)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"rate","responseMode":"responseNode","options":{}},"id":"webhook-rate","name":"GET /webhook/rate","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,300],"webhookId":"shadow-ios-rate"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"loqfhiiOtaUzk9GC","mode":"list","cachedResultName":"usd_bs_rate"},"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"1"}]}},"id":"dt-get-rate","name":"Get rate","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[440,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ Bs: $json.Bs, Dolar: $json.Dolar, updatedAt: $json.updatedAt }) }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[660,300]}],"connections":{"GET /webhook/rate":{"main":[[{"node":"Get rate","type":"main","index":0}]]},"Get rate":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"ed2f60d4-7243-4bbf-b969-abee29e24f6e","activeVersionId":"ed2f60d4-7243-4bbf-b969-abee29e24f6e","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-04-15T20:01:34.111Z","createdAt":"2026-04-15T20:01:34.111Z","role":"workflow:owner","workflowId":"9w3OqxiB8pZcOfvp","projectId":"NJ3rjcCVeDHPF7sa","project":{"updatedAt":"2025-11-03T14:48:00.044Z","createdAt":"2025-11-03T14:41:36.663Z","id":"NJ3rjcCVeDHPF7sa","name":"Aniello Rescigno <rescignoaniello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectRelations":[{"updatedAt":"2025-11-03T14:41:36.664Z","createdAt":"2025-11-03T14:41:36.664Z","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectId":"NJ3rjcCVeDHPF7sa","user":{"updatedAt":"2026-04-16T19:05:24.000Z","createdAt":"2025-11-03T14:41:35.993Z","id":"448be12a-ad32-4dc2-85c1-be8439daf6a3","email":"rescignoaniello@gmail.com","firstName":"Aniello","lastName":"Rescigno","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-03T14:48:19.853Z","personalization_survey_n8n_version":"1.103.2","companySize":"personalUser","companyType":"ecommerce","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"DYUtIYpfTjv9nnRK","userActivatedAt":1762197033728,"npsSurvey":{"responded":true,"lastShownAt":1770322564226},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-15T20:01:34.128Z","createdAt":"2026-04-15T20:01:34.128Z","versionId":"ed2f60d4-7243-4bbf-b969-abee29e24f6e","workflowId":"9w3OqxiB8pZcOfvp","nodes":[{"parameters":{"httpMethod":"GET","path":"rate","responseMode":"responseNode","options":{}},"id":"webhook-rate","name":"GET /webhook/rate","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,300],"webhookId":"shadow-ios-rate"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"loqfhiiOtaUzk9GC","mode":"list","cachedResultName":"usd_bs_rate"},"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"1"}]}},"id":"dt-get-rate","name":"Get rate","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[440,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ Bs: $json.Bs, Dolar: $json.Dolar, updatedAt: $json.updatedAt }) }}","options":{}},"id":"respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[660,300]}],"connections":{"GET /webhook/rate":{"main":[[{"node":"Get rate","type":"main","index":0}]]},"Get rate":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Aniello Rescigno","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-15T20:01:35.424Z","id":728,"workflowId":"9w3OqxiB8pZcOfvp","versionId":"ed2f60d4-7243-4bbf-b969-abee29e24f6e","event":"activated","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3"}]}}