n8n/workflows/06-dashboard-listener.json
{"updatedAt":"2026-04-18T00:25:49.407Z","createdAt":"2026-04-16T19:43:23.318Z","id":"X16QoSlg2WyXocbj","name":"Shadow iOS — 06 Dashboard listener","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"shadow-ios-wa-listener","responseMode":"onReceived","options":{}},"id":"webhook","name":"WA webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,400],"webhookId":"shadow-ios-wa-listener"},{"parameters":{"jsCode":"// Normalize Evolution API payload + classify intent\nconst b = $input.first().json;\nconst body = b.body || b;\nconst data = body.data || {};\nconst key = data.key || {};\nconst jid = key.remoteJid || '';\nconst fromMe = !!key.fromMe;\nconst msg = data.message || {};\nconst text = (msg.conversation || msg.extendedTextMessage?.text || msg.imageMessage?.caption || '').trim();\nconst participant = key.participant || '';\nconst pushName = data.pushName || '';\n\nconst DASHBOARD = '120363427557786772@g.us';\nconst PYP = '120363399646672357@g.us';\nconst KNOWN_RIDERS = ['bryant','robert','hector','omar','wilmer','luis','anderson','caldera','ostos','vargas','fabian','diego','johan','kevin','kelvin','abraham','oguir','leonel','ronald','jaider','riyeson','gustavo','marcos','daniela','larry','miguel','farfan','jhosty'];\n\nlet intent = 'ignore';\nlet detectedRider = null;\nif (!fromMe && text) {\n  if (jid === DASHBOARD) {\n    if (/^delivery\\b/i.test(text)) intent = 'delivery';\n    else if (/^(recibido|cobrado)\\b/i.test(text)) intent = 'recibido';\n    else if (/^pagado\\b/i.test(text)) intent = 'pagado';\n    else if (/^saldo$/i.test(text)) intent = 'saldo';\n    else if (/^envio\\b/i.test(text)) intent = 'envio';\n    else if (/^gasto\\b/i.test(text)) intent = 'gasto';\n    else if (/^cambio\\b/i.test(text)) intent = 'cambio';\n    else if (/^pagopyp\\b/i.test(text)) intent = 'pagopyp';\n  } else if (jid === PYP) {\n    // \"recibido $XX rider\" — Aniello writes this in PyP group\n    if (/^(recibido|cobrado)\\b/i.test(text)) {\n      intent = 'recibido';\n    } else {\n      // Rider name detection (single word = motorizado assigned)\n      const firstWord = text.split(/\\s+/)[0].toLowerCase().replace(/[^a-záéíóúñ]/gi,'');\n      if (KNOWN_RIDERS.includes(firstWord)) { intent = 'rider'; detectedRider = firstWord; }\n    }\n  }\n}\nreturn [{ json: { intent, jid, text, fromMe, participant, pushName, detectedRider, DASHBOARD, PYP } }];"},"id":"route","name":"Route intent","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.intent }}","rightValue":"delivery","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"delivery"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2","leftValue":"={{ $json.intent }}","rightValue":"rider","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"rider"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c3","leftValue":"={{ $json.intent }}","rightValue":"recibido","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"recibido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c4","leftValue":"={{ $json.intent }}","rightValue":"pagado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pagado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c5","leftValue":"={{ $json.intent }}","rightValue":"saldo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"saldo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c6","leftValue":"={{ $json.intent }}","rightValue":"envio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"envio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c7","leftValue":"={{ $json.intent }}","rightValue":"gasto","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gasto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c8","leftValue":"={{ $json.intent }}","rightValue":"cambio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cambio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c9","leftValue":"={{ $json.intent }}","rightValue":"pagopyp","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pagopyp"}]},"options":{}},"id":"switch","name":"Switch intent","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[640,400]},{"parameters":{"jsCode":"// Flow A parse\nconst t = $json.text;\nconst orderMatch = t.match(/#(\\d+)/);\nconst phoneMatch = t.match(/\\b(58\\d{10}|0?\\d{10,11})\\b/);\nconst cobrarMatch = t.match(/cobrar\\s*\\$?\\s*([\\d.,]+)/i);\nconst isPaid = /\\bpagado\\b/i.test(t) && !cobrarMatch;\nconst orderNumber = orderMatch ? orderMatch[1] : null;\nlet phone = phoneMatch ? phoneMatch[1] : null;\nif (phone && phone.startsWith('0')) phone = '58' + phone.slice(1);\nelse if (phone && !phone.startsWith('58')) phone = '58' + phone;\nconst amountToCollect = cobrarMatch ? parseFloat(String(cobrarMatch[1]).replace(/,/g,'')) : null;\n\n// Name: between #XXXX and phone\nlet clientName = null;\nif (orderMatch && phoneMatch) {\n  const afterOrder = t.slice(t.indexOf(orderMatch[0]) + orderMatch[0].length);\n  const phoneIdx = afterOrder.indexOf(phoneMatch[0]);\n  if (phoneIdx > 0) clientName = afterOrder.slice(0, phoneIdx).trim();\n}\n\n// Address: after 'destino' up to 'cobrar' / 'pagado'\nconst destMatch = t.match(/destino\\s+(.+?)(?=\\s+(cobrar|pagado)\\b|$)/is);\nconst address = destMatch ? destMatch[1].trim() : null;\n\nreturn [{ json: { orderNumber, clientName, phone, address, amountToCollect, isPaid, isCashOnDelivery: !!cobrarMatch, _src: $json } }];"},"id":"a-parse","name":"A: Parse delivery","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,80]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $json.orderNumber }},shopify_order_id.eq.{{ $json.orderNumber }})&select=id,client_name,total_usd&limit=1","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"a-lookup-order","name":"A: Lookup order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,80],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"jsCode":"const parsed = $('A: Parse delivery').first().json;\nconst orderRow = ($input.first().json && $input.first().json[0]) || null;\nconst orderId = orderRow?.id || null;\nreturn [{ json: { ...parsed, orderId, orderMatchFound: !!orderRow, clientNameFromDb: orderRow?.client_name || null } }];"},"id":"a-build-delivery","name":"A: Build delivery payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,80]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ order_id: $json.orderId, destination: $json.address, status: 'pendiente', is_cash_on_delivery: $json.isCashOnDelivery, cash_to_collect_usd: $json.amountToCollect, notes: 'Origen: Dashboard WA · ' + ($json._src.pushName || '') }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"a-insert-delivery","name":"A: Insert delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,80],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363399646672357@g.us', text: '🧾 *_Plantilla de Servicios_*\\n\\n🏍️ *Servicio* : Delivery\\n\\n🛎️ *N° de Pedido:* #' + ($('A: Build delivery payload').first().json.orderNumber || '—') + '\\n\\n🅰️ *Punto de Retiro* : Prados del este, Calle la ceiba, 5ta Urupagua 80p*\\n\\n🅱️ *Punto de Entrega* : ' + ($('A: Build delivery payload').first().json.address || '—') + '\\n\\n📍 *Referencia*: —\\n\\n👤 *Nombre:* ' + ($('A: Build delivery payload').first().json.clientName || $('A: Build delivery payload').first().json.clientNameFromDb || '—') + '\\n\\n📱 *Tlf / Alternativo:* ' + ($('A: Build delivery payload').first().json.phone || '—') + '\\n\\n💰 *Vuelto a Recibir:* ' + ($('A: Build delivery payload').first().json.isCashOnDelivery ? ('Cobrar $' + $('A: Build delivery payload').first().json.amountToCollect) : '—') + '\\n\\n✅ *Está pago*: ' + ($('A: Build delivery payload').first().json.isPaid ? 'Sí' : 'No') }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi"},"id":"a-send-pyp","name":"A: Send template to PyP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,80],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Delivery #' + ($('A: Build delivery payload').first().json.orderNumber || '—') + ' registrado. Plantilla enviada a PyP.\\n🏍️ Esperando confirmación de motorizado...' + ($('A: Build delivery payload').first().json.orderMatchFound ? '' : '\\n⚠️ No encontré pedido en Supabase con ese número — guardado sin order_id.') }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi"},"id":"a-confirm","name":"A: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,80],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?status=eq.pendiente&order=created_at.desc&limit=1&select=id,order_id,destination","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"b-find-pending","name":"B: Find latest pending","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"jsCode":"const rider = $('Route intent').first().json.detectedRider;\nconst rows = $input.first().json;\nconst row = Array.isArray(rows) ? rows[0] : null;\nif (!row) return [{ json: { noPending: true, rider } }];\nreturn [{ json: { id: row.id, order_id: row.order_id, destination: row.destination, rider } }];"},"id":"b-prep","name":"B: Prep update","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300]},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'asignado', rider_name: $json.rider }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"b-update","name":"B: Update delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '🏍️ Delivery asignado a ' + $('B: Prep update').first().json.rider + '. Destino: ' + ($('B: Prep update').first().json.destination || '—') + '. En camino.' }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi"},"id":"b-notify","name":"B: Notify Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,300],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"jsCode":"// Flow C parse: 'recibido $XX rider' | 'recibido $XX' | 'cobrado #XXXX $XX'\nconst t = $json.text;\nconst amountMatch = t.match(/\\$\\s*([\\d.,]+)/) || t.match(/\\b([\\d.,]+)\\b/);\nconst amount = amountMatch ? parseFloat(String(amountMatch[1]).replace(/,/g,'')) : null;\nconst orderMatch = t.match(/#(\\d+)/);\nconst words = t.toLowerCase().split(/\\s+/);\nconst KNOWN = ['bryant','robert','hector','omar','wilmer','luis','anderson','caldera','ostos','vargas','fabian','diego','johan','kevin','kelvin','abraham','oguir','leonel','ronald','jaider','riyeson','gustavo','marcos','daniela','larry','miguel','farfan','jhosty'];\nconst rider = words.find(w => KNOWN.includes(w.replace(/[^a-z]/g,''))) || null;\nreturn [{ json: { amount, rider: rider ? rider.replace(/[^a-z]/g,'') : null, orderNumber: orderMatch ? orderMatch[1] : null } }];"},"id":"c-parse","name":"C: Parse recibido","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,540]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?status=in.(asignado,en_ruta)&{{ $json.rider ? 'rider_name=eq.' + $json.rider + '&' : '' }}order=created_at.desc&limit=1&select=id,order_id,rider_name","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-find","name":"C: Find delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'cobrado', cash_collected: true, cash_collected_amount: $('C: Parse recibido').first().json.amount, delivered_at: new Date().toISOString() }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-update","name":"C: Update delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ movement_type: 'ingreso', wallet: 'cash_usd', amount: $('C: Parse recibido').first().json.amount, amount_usd_equivalent: $('C: Parse recibido').first().json.amount, concept: 'Delivery cobrado - ' + ($('C: Parse recibido').first().json.rider || 'rider'), order_id: $('C: Find delivery').first().json.order_id || null }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-insert-cash","name":"C: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Recibido $' + $('C: Parse recibido').first().json.amount + ' de ' + ($('C: Parse recibido').first().json.rider || 'rider') + '. Delivery cerrado. Caja +$' + $('C: Parse recibido').first().json.amount + ' cash.' }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi"},"id":"c-confirm","name":"C: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,540],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"jsCode":"// Flow D parse: 'pagado #XXXX method $amt' or 'pagado #XXXX mixto cash $X zelle $Y'\nconst t = $json.text;\nconst orderMatch = t.match(/#(\\d+)/);\nconst orderNumber = orderMatch ? orderMatch[1] : null;\nconst lower = t.toLowerCase();\nconst isMixto = /\\bmixto\\b/.test(lower);\n\n// Find all method+amount pairs\nconst payments = [];\nconst re = /(cash|efectivo|zelle|bs|bolivares|bolívares|binance)\\s*\\$?\\s*([\\d.,]+)/gi;\nlet m;\nwhile ((m = re.exec(t)) !== null) {\n  let method = m[1].toLowerCase();\n  if (method === 'efectivo') method = 'cash';\n  if (method === 'bs' || method === 'bolivares' || method === 'bolívares') method = 'bolivares';\n  const amount = parseFloat(String(m[2]).replace(/,/g,''));\n  if (amount > 0) payments.push({ method, amount });\n}\n\nconst methodForOrder = payments.length === 1 ? payments[0].method : (isMixto ? 'mixto' : (payments[0]?.method || null));\nreturn [{ json: { orderNumber, payments, methodForOrder } }];"},"id":"d-parse","name":"D: Parse pagado","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,780]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $json.orderNumber }},shopify_order_id.eq.{{ $json.orderNumber }})&select=id,exchange_rate&limit=1","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-lookup","name":"D: Lookup order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?id=eq.{{ $json[0]?.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'confirmado', payment_method: $('D: Parse pagado').first().json.methodForOrder }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-update-order","name":"D: Update order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(($('D: Parse pagado').first().json.payments || []).map(p => { const wallet = p.method === 'cash' ? 'cash_usd' : (p.method === 'zelle' ? 'zelle' : 'bolivares'); const orderRow = $('D: Lookup order').first().json[0]; const rate = orderRow?.exchange_rate || null; return { movement_type: 'ingreso', wallet, amount: p.amount, exchange_rate: rate, amount_usd_equivalent: wallet === 'bolivares' ? (rate ? Math.round(p.amount / rate * 100)/100 : null) : p.amount, concept: 'Pago pedido #' + $('D: Parse pagado').first().json.orderNumber, order_id: orderRow?.id || null }; })) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-insert-cash","name":"D: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Pago #' + $('D: Parse pagado').first().json.orderNumber + ' registrado (' + $('D: Parse pagado').first().json.methodForOrder + '). Pedido confirmado. ' + ($('D: Parse pagado').first().json.payments.map(p => p.method + ' $' + p.amount).join(' · ')) }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi"},"id":"d-confirm","name":"D: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,780],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"method":"GET","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements?select=wallet,movement_type,amount","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"e-fetch-balances","name":"E: Fetch balances","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,1020],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"GET","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/rate","authentication":"none","options":{}},"id":"e-fetch-rate","name":"E: Fetch rate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1020]},{"parameters":{"jsCode":"// Calculate balances from cash_movements\nconst movements = $('E: Fetch balances').first().json;\nconst rateData = $('E: Fetch rate').first().json;\nconst rate = rateData.Bs || 1;\n\n// movements might be a single object or array\nconst movementsArr = $('E: Fetch balances').all().map(i => i.json);\n\nconst balances = { cash_usd: 0, zelle: 0, binance: 0, bolivares: 0 };\n\nfor (const r of movementsArr) {\n  const w = r.wallet;\n  const amt = parseFloat(r.amount) || 0;\n  if (!balances.hasOwnProperty(w)) continue;\n  if (r.movement_type === 'ingreso') balances[w] += amt;\n  else if (r.movement_type === 'egreso') balances[w] -= amt;\n  else if (r.movement_type === 'cambio') balances[w] += amt;\n  else if (r.movement_type === 'transferencia') balances[w] += amt;\n}\n\nconst fmtNum = (n, decimals) => {\n  decimals = decimals != null ? decimals : 2;\n  const abs = Math.abs(n);\n  const parts = abs.toFixed(decimals).split('.');\n  parts[0] = parts[0].replace(/B(?=(d{3})+(?!d))/g, ',');\n  return (n < 0 ? '-' : '') + parts.join('.');\n};\n\nconst bsInUsd = rate > 0 ? balances.bolivares / rate : 0;\nconst totalUsd = balances.cash_usd + balances.zelle + balances.binance + bsInUsd;\n\n// Venezuela time (UTC-4)\nconst now = new Date();\nconst vzTime = new Date(now.getTime() - 4 * 60 * 60 * 1000);\nconst timeStr = vzTime.toISOString().replace('T', ' ').substring(0, 16);\n\nconst lines = [];\nlines.push('*Saldos actuales*');\nlines.push('');\nlines.push('Cash USD:  $' + fmtNum(balances.cash_usd));\nlines.push('Zelle:     $' + fmtNum(balances.zelle));\nlines.push('Binance:   $' + fmtNum(balances.binance));\nlines.push('Bolivares: Bs ' + fmtNum(balances.bolivares, 0) + '  (= $' + fmtNum(bsInUsd) + ')');\nlines.push('');\nlines.push('Total equivalente: $' + fmtNum(totalUsd));\nlines.push('Tasa del dia: Bs ' + fmtNum(rate, 0) + '/USD');\nlines.push(timeStr + ' VET');\n\nconst msg = lines.join(String.fromCharCode(10));\n\nreturn [{ json: { message: msg } }];"},"id":"e-format-saldo","name":"E: Format saldo","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,1020]},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: \"120363427557786772@g.us\", text: $json.message }) }}","options":{}},"id":"e-send-saldo","name":"E: Send saldo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,1020],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"jsCode":"// Parse: \"envio #2050 mrw 011800605000505\"\nconst text = $json.text;\nconst m = text.match(/^envio\\s+#?(\\d+)\\s+(mrw|zoom|tealca|domesa|dhl)\\s+(\\S+)/i);\nif (!m) throw new Error('Formato inválido. Usar: envio #XXXX carrier tracking');\nconst orderNumber = m[1];\nconst carrier = m[2].toLowerCase();\nconst tracking = m[3];\n\nconst trackingUrls = {\n  mrw: 'mrw.com.ve',\n  zoom: 'zoom.red',\n  tealca: 'tealca.com',\n  domesa: 'domesa.com',\n  dhl: 'dhl.com'\n};\nconst trackUrl = trackingUrls[carrier] || '';\n\nreturn [{ json: { orderNumber, carrier, tracking, trackUrl } }];"},"name":"F: Parse envio","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1260],"id":"4d39f018-141a-4c9f-84ac-9a5491b609d5"},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $json.orderNumber }},shopify_order_id.eq.{{ $json.orderNumber }})&select=id,order_number,client_name,client_phone,client_city,status&limit=1","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":false,"options":{}},"name":"F: Lookup order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1260],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"58b48319-2d3c-4101-b44a-6733ee7bc819"},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $('F: Parse envio').first().json.orderNumber }},shopify_order_id.eq.{{ $('F: Parse envio').first().json.orderNumber }})","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ carrier: $('F: Parse envio').first().json.carrier, tracking_number: $('F: Parse envio').first().json.tracking, delivery_type: 'envio', status: 'despachado' }) }}","options":{}},"name":"F: Update order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1260],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"2ba42e46-f6d6-4086-adc8-2095c57db977"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.hasPhone ? JSON.stringify({ number: $json.clientPhone + \"@s.whatsapp.net\", text: \"📦 Tu pedido fue despachado por \" + $json.carrier.toUpperCase() + \".\\nTracking: \" + $json.tracking + \"\\nPuedes rastrearlo en \" + $json.trackUrl + \" 🚚\" }) : '{\"number\":\"0@s.whatsapp.net\",\"text\":\"skip\"}' }}","options":{}},"name":"F: Notify client","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,1260],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"onError":"continueRegularOutput","id":"54f1eab0-9203-41a2-afe7-f0545330fe0b"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: \"120363427557786772@g.us\", text: $('F: Prep notify').first().json.dashboardMsg }) }}","options":{}},"name":"F: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,1260],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"24800c21-55f3-4810-a092-5b16a11d8c26"},{"parameters":{"jsCode":"// Merge parsed data with order data from lookup\nconst parsed = $('F: Parse envio').first().json;\nconst lookupResult = $('F: Lookup order').first().json;\n\nconst order = Array.isArray(lookupResult) ? lookupResult[0] : lookupResult;\n\nconst clientName = order?.client_name || '';\nconst clientPhone = order?.client_phone || '';\nconst clientCity = order?.client_city || '';\nconst hasPhone = !!(clientPhone && clientPhone.length > 5);\n\nlet cleanPhone = clientPhone.replace(/[^0-9]/g, '');\nif (cleanPhone.startsWith('0')) cleanPhone = '58' + cleanPhone.substring(1);\nif (!cleanPhone.startsWith('58') && cleanPhone.length === 10) cleanPhone = '58' + cleanPhone;\n\n// Build dashboard confirmation message\nlet dashboardMsg = \"\\u2705 #\" + parsed.orderNumber + \" despachado por \" + parsed.carrier.toUpperCase() + \". \";\nif (hasPhone) {\n  dashboardMsg += \"Tracking enviado a \" + (clientName || \"cliente\");\n  if (clientCity) dashboardMsg += \" (\" + clientCity + \")\";\n  dashboardMsg += \".\";\n} else {\n  dashboardMsg += \"Tracking registrado.\";\n  dashboardMsg += \"\\n\\u26a0\\ufe0f Sin tel\\u00e9fono registrado \\u2014 tracking NO enviado al cliente.\";\n}\n\nreturn [{ json: {\n  orderNumber: parsed.orderNumber,\n  carrier: parsed.carrier,\n  tracking: parsed.tracking,\n  trackUrl: parsed.trackUrl,\n  clientName,\n  clientPhone: cleanPhone,\n  clientCity,\n  hasPhone,\n  dashboardMsg\n}}];"},"name":"F: Prep notify","type":"n8n-nodes-base.code","typeVersion":2,"position":[1430,1260],"id":"4e37387e-530e-46e3-a092-ad135400f15b"},{"parameters":{"jsCode":"// Parse: \"gasto $25 gasolina\" or \"gasto $100 mercadería PyP\" or \"gasto $50 zelle comida\"\nconst text = $json.text;\n\n// Match amount (with or without $)\nconst m = text.match(/^gasto\\s+\\$?\\s*([\\d.,]+)\\s+(.+)/i);\nif (!m) throw new Error('Formato inválido. Usar: gasto $XX concepto');\n\nconst amount = parseFloat(m[1].replace(/,/g, ''));\nlet rest = m[2].trim();\n\n// Check if first word of rest is a wallet name\nconst wallets = ['cash', 'cash_usd', 'zelle', 'bolivares', 'bs', 'binance'];\nconst firstWord = rest.split(/\\s+/)[0].toLowerCase();\nlet wallet = 'cash_usd'; // default\n\nif (wallets.includes(firstWord)) {\n  if (firstWord === 'zelle') wallet = 'zelle';\n  else if (firstWord === 'bolivares' || firstWord === 'bs') wallet = 'bolivares';\n  else if (firstWord === 'binance') wallet = 'binance';\n  else wallet = 'cash_usd';\n  // Remove wallet word from concept\n  rest = rest.split(/\\s+/).slice(1).join(' ').trim();\n}\n\nconst concept = rest || 'gasto sin concepto';\n\nreturn [{ json: { amount, wallet, concept } }];"},"name":"G: Parse gasto","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1500],"id":"b0cc12e4-53a0-4e81-88ad-72ab6842bc0c"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ movement_type: 'egreso', wallet: $json.wallet, amount: $json.amount, amount_usd_equivalent: $json.amount, concept: $json.concept }) }}","options":{}},"name":"G: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1500],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"fe73e2eb-bad0-48fd-8c6a-fac4a8039383"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '\\u2705 Gasto $' + $('G: Parse gasto').first().json.amount + ' registrado: ' + $('G: Parse gasto').first().json.concept + '. Caja -$' + $('G: Parse gasto').first().json.amount + ' ' + $('G: Parse gasto').first().json.wallet.replace('cash_usd','cash') + '.' }) }}","options":{}},"name":"G: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1500],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"a7e2c1cc-8db4-49fb-8ce8-b93a2562b8fb"},{"parameters":{"jsCode":"// Parse: \"cambio $200 cash zelle\" | \"cambio $500 zelle cash\" | \"cambio $300 cash bs\"\nconst text = $json.text;\nconst m = text.match(/^cambio\\s+\\$?\\s*([\\d.,]+)\\s+(\\S+)\\s+(\\S+)/i);\nif (!m) throw new Error('Formato: cambio $XX origen destino');\n\nconst amount = parseFloat(m[1].replace(/,/g, ''));\nconst fromRaw = m[2].toLowerCase();\nconst toRaw = m[3].toLowerCase();\n\n// Normalize wallet names\nfunction norm(w) {\n  if (w === 'cash' || w === 'cash_usd' || w === 'efectivo') return 'cash_usd';\n  if (w === 'zelle') return 'zelle';\n  if (w === 'bs' || w === 'bolivares' || w === 'bsf') return 'bolivares';\n  if (w === 'binance') return 'binance';\n  return w;\n}\n\nconst fromWallet = norm(fromRaw);\nconst toWallet = norm(toRaw);\n\nif (fromWallet === toWallet) throw new Error(\"Origen y destino no pueden ser iguales\");\n\nconst needsRate = (fromWallet === 'bolivares' || toWallet === 'bolivares');\n\nreturn [{ json: { amount, fromWallet, toWallet, fromRaw, toRaw, needsRate } }];"},"name":"H: Parse cambio","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1740],"id":"c15c412e-ba3e-4815-9c3e-e03fa511848a"},{"parameters":{"method":"GET","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/rate","authentication":"none","options":{}},"name":"H: Fetch rate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1740],"id":"8fd156b9-17f7-42e1-a6a3-c218a0013a6e"},{"parameters":{"jsCode":"// Build egreso + ingreso movements for the cambio\nconst parsed = $('H: Parse cambio').first().json;\nconst rate = $('H: Fetch rate').first().json.Bs || 1;\n\nconst amount = parsed.amount;\nconst from = parsed.fromWallet;\nconst to = parsed.toWallet;\n\n// Calculate amounts for each side\nlet fromAmount = amount;\nlet toAmount = amount;\nlet fromUsdEq = amount;\nlet toUsdEq = amount;\n\nif (from === 'bolivares') {\n  // Converting FROM bs: amount is in Bs, USD equivalent = amount / rate\n  fromUsdEq = Math.round((amount / rate) * 100) / 100;\n  toAmount = fromUsdEq;\n  toUsdEq = fromUsdEq;\n} else if (to === 'bolivares') {\n  // Converting TO bs: amount is in USD, Bs equivalent = amount * rate\n  toAmount = Math.round(amount * rate * 100) / 100;\n  toUsdEq = amount;\n}\n\nconst movements = [\n  {\n    movement_type: 'egreso',\n    wallet: from,\n    amount: fromAmount,\n    amount_usd_equivalent: fromUsdEq,\n    exchange_rate: rate,\n    concept: 'Cambio ' + from.replace('cash_usd','cash') + ' → ' + to.replace('cash_usd','cash')\n  },\n  {\n    movement_type: 'ingreso',\n    wallet: to,\n    amount: toAmount,\n    amount_usd_equivalent: toUsdEq,\n    exchange_rate: rate,\n    concept: 'Cambio ' + from.replace('cash_usd','cash') + ' → ' + to.replace('cash_usd','cash')\n  }\n];\n\n// Build dashboard message\nlet msg = '\\u2705 Cambio registrado: $' + amount + ' ' + from.replace('cash_usd','cash') + ' \\u2192 ' + to.replace('cash_usd','cash') + '.';\nif (to === 'bolivares') msg += ' (Bs ' + toAmount.toLocaleString() + ' a tasa ' + rate + ')';\nif (from === 'bolivares') msg += ' (Bs ' + fromAmount.toLocaleString() + ' = $' + fromUsdEq + ' a tasa ' + rate + ')';\n\nreturn [{ json: { movements, dashboardMsg: msg, rate } }];"},"name":"H: Build movements","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,1740],"id":"880d1d11-229b-4eb7-a5a0-76f0e9f6329a"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.movements) }}","options":{}},"name":"H: Insert movements","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,1740],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"fb88db23-8395-4dad-bb5c-2b4123ae6bbf"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: $('H: Build movements').first().json.dashboardMsg }) }}","options":{}},"name":"H: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,1740],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"0c846bbe-30be-40b1-8b72-b30c14b328ee"},{"parameters":{"jsCode":"// Parse: \"pagopyp $25\" or \"pagopyp $25 zelle\" or \"pagopyp $100 bs\"\nconst text = $json.text;\nconst m = text.match(/^pagopyp\\s+\\$?\\s*([\\d.,]+)(?:\\s+(\\S+))?/i);\nif (!m) throw new Error('Formato: pagopyp $XX [zelle|bs]');\nconst amount = parseFloat(m[1].replace(/,/g, ''));\nconst walletRaw = (m[2] || 'zelle').toLowerCase();\nlet wallet = 'zelle';\nif (walletRaw === 'bs' || walletRaw === 'bolivares') wallet = 'bolivares';\nelse if (walletRaw === 'cash' || walletRaw === 'cash_usd') wallet = 'cash_usd';\nreturn [{ json: { amount, wallet } }];"},"name":"I: Parse pagopyp","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1980],"id":"f837d0a2-067d-4c8f-b516-cb3a70719e76"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ movement_type: 'egreso', wallet: $json.wallet, amount: $json.amount, amount_usd_equivalent: $json.amount, concept: 'Pago a PyP' }) }}","options":{}},"name":"I: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1980],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"406f7184-7115-43fd-b0f0-3555e2c03f10"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '\\u2705 Pago PyP $' + $('I: Parse pagopyp').first().json.amount + ' registrado. Caja -$' + $('I: Parse pagopyp').first().json.amount + ' ' + $('I: Parse pagopyp').first().json.wallet.replace('cash_usd','cash') + '.' }) }}","options":{}},"name":"I: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1980],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"9456d5d3-cde4-43ce-8e19-42aac180df72"}],"connections":{"WA webhook":{"main":[[{"node":"Route intent","type":"main","index":0}]]},"Route intent":{"main":[[{"node":"Switch intent","type":"main","index":0}]]},"Switch intent":{"main":[[{"node":"A: Parse delivery","type":"main","index":0}],[{"node":"B: Find latest pending","type":"main","index":0}],[{"node":"C: Parse recibido","type":"main","index":0}],[{"node":"D: Parse pagado","type":"main","index":0}],[{"node":"E: Fetch balances","type":"main","index":0}],[{"node":"F: Parse envio","type":"main","index":0}],[{"node":"G: Parse gasto","type":"main","index":0}],[{"node":"H: Parse cambio","type":"main","index":0}],[{"node":"I: Parse pagopyp","type":"main","index":0}]]},"A: Parse delivery":{"main":[[{"node":"A: Lookup order","type":"main","index":0}]]},"A: Lookup order":{"main":[[{"node":"A: Build delivery payload","type":"main","index":0}]]},"A: Build delivery payload":{"main":[[{"node":"A: Insert delivery","type":"main","index":0}]]},"A: Insert delivery":{"main":[[{"node":"A: Send template to PyP","type":"main","index":0}]]},"A: Send template to PyP":{"main":[[{"node":"A: Confirm Dashboard","type":"main","index":0}]]},"B: Find latest pending":{"main":[[{"node":"B: Prep update","type":"main","index":0}]]},"B: Prep update":{"main":[[{"node":"B: Update delivery","type":"main","index":0}]]},"B: Update delivery":{"main":[[{"node":"B: Notify Dashboard","type":"main","index":0}]]},"C: Parse recibido":{"main":[[{"node":"C: Find delivery","type":"main","index":0}]]},"C: Find delivery":{"main":[[{"node":"C: Update delivery","type":"main","index":0}]]},"C: Update delivery":{"main":[[{"node":"C: Insert cash","type":"main","index":0}]]},"C: Insert cash":{"main":[[{"node":"C: Confirm Dashboard","type":"main","index":0}]]},"D: Parse pagado":{"main":[[{"node":"D: Lookup order","type":"main","index":0}]]},"D: Lookup order":{"main":[[{"node":"D: Update order","type":"main","index":0}]]},"D: Update order":{"main":[[{"node":"D: Insert cash","type":"main","index":0}]]},"D: Insert cash":{"main":[[{"node":"D: Confirm Dashboard","type":"main","index":0}]]},"E: Fetch balances":{"main":[[{"node":"E: Fetch rate","type":"main","index":0}]]},"E: Fetch rate":{"main":[[{"node":"E: Format saldo","type":"main","index":0}]]},"E: Format saldo":{"main":[[{"node":"E: Send saldo","type":"main","index":0}]]},"F: Parse envio":{"main":[[{"node":"F: Lookup order","type":"main","index":0}]]},"F: Lookup order":{"main":[[{"node":"F: Update order","type":"main","index":0}]]},"F: Update order":{"main":[[{"node":"F: Prep notify","type":"main","index":0}]]},"F: Notify client":{"main":[[{"node":"F: Confirm Dashboard","type":"main","index":0}]]},"F: Prep notify":{"main":[[{"node":"F: Notify client","type":"main","index":0}]]},"G: Parse gasto":{"main":[[{"node":"G: Insert cash","type":"main","index":0}]]},"G: Insert cash":{"main":[[{"node":"G: Confirm Dashboard","type":"main","index":0}]]},"H: Parse cambio":{"main":[[{"node":"H: Fetch rate","type":"main","index":0}]]},"H: Fetch rate":{"main":[[{"node":"H: Build movements","type":"main","index":0}]]},"H: Build movements":{"main":[[{"node":"H: Insert movements","type":"main","index":0}]]},"H: Insert movements":{"main":[[{"node":"H: Confirm Dashboard","type":"main","index":0}]]},"I: Parse pagopyp":{"main":[[{"node":"I: Insert cash","type":"main","index":0}]]},"I: Insert cash":{"main":[[{"node":"I: Confirm Dashboard","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"57a07967-270e-4cb2-9875-30490296c9a2","activeVersionId":"57a07967-270e-4cb2-9875-30490296c9a2","versionCounter":57,"triggerCount":1,"shared":[{"updatedAt":"2026-04-16T19:43:23.325Z","createdAt":"2026-04-16T19:43:23.325Z","role":"workflow:owner","workflowId":"X16QoSlg2WyXocbj","projectId":"NJ3rjcCVeDHPF7sa","project":{"updatedAt":"2025-11-03T14:48:00.044Z","createdAt":"2025-11-03T14:41:36.663Z","id":"NJ3rjcCVeDHPF7sa","name":"Aniello Rescigno <rescignoaniello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectRelations":[{"updatedAt":"2025-11-03T14:41:36.664Z","createdAt":"2025-11-03T14:41:36.664Z","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectId":"NJ3rjcCVeDHPF7sa","user":{"updatedAt":"2026-04-17T16:04:22.000Z","createdAt":"2025-11-03T14:41:35.993Z","id":"448be12a-ad32-4dc2-85c1-be8439daf6a3","email":"rescignoaniello@gmail.com","firstName":"Aniello","lastName":"Rescigno","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-03T14:48:19.853Z","personalization_survey_n8n_version":"1.103.2","companySize":"personalUser","companyType":"ecommerce","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"DYUtIYpfTjv9nnRK","userActivatedAt":1762197033728,"npsSurvey":{"responded":true,"lastShownAt":1770322564226},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-17","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-18T00:25:49.411Z","createdAt":"2026-04-18T00:25:49.411Z","versionId":"57a07967-270e-4cb2-9875-30490296c9a2","workflowId":"X16QoSlg2WyXocbj","nodes":[{"parameters":{"httpMethod":"POST","path":"shadow-ios-wa-listener","responseMode":"onReceived","options":{}},"id":"webhook","name":"WA webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,400],"webhookId":"shadow-ios-wa-listener"},{"parameters":{"jsCode":"// Normalize Evolution API payload + classify intent\nconst b = $input.first().json;\nconst body = b.body || b;\nconst data = body.data || {};\nconst key = data.key || {};\nconst jid = key.remoteJid || '';\nconst fromMe = !!key.fromMe;\nconst msg = data.message || {};\nconst text = (msg.conversation || msg.extendedTextMessage?.text || msg.imageMessage?.caption || '').trim();\nconst participant = key.participant || '';\nconst pushName = data.pushName || '';\n\nconst DASHBOARD = '120363427557786772@g.us';\nconst PYP = '120363399646672357@g.us';\nconst KNOWN_RIDERS = ['bryant','robert','hector','omar','wilmer','luis','anderson','caldera','ostos','vargas','fabian','diego','johan','kevin','kelvin','abraham','oguir','leonel','ronald','jaider','riyeson','gustavo','marcos','daniela','larry','miguel','farfan','jhosty'];\n\nlet intent = 'ignore';\nlet detectedRider = null;\nif (!fromMe && text) {\n  if (jid === DASHBOARD) {\n    if (/^delivery\\b/i.test(text)) intent = 'delivery';\n    else if (/^(recibido|cobrado)\\b/i.test(text)) intent = 'recibido';\n    else if (/^pagado\\b/i.test(text)) intent = 'pagado';\n    else if (/^saldo$/i.test(text)) intent = 'saldo';\n    else if (/^envio\\b/i.test(text)) intent = 'envio';\n    else if (/^gasto\\b/i.test(text)) intent = 'gasto';\n    else if (/^cambio\\b/i.test(text)) intent = 'cambio';\n    else if (/^pagopyp\\b/i.test(text)) intent = 'pagopyp';\n  } else if (jid === PYP) {\n    // \"recibido $XX rider\" — Aniello writes this in PyP group\n    if (/^(recibido|cobrado)\\b/i.test(text)) {\n      intent = 'recibido';\n    } else {\n      // Rider name detection (single word = motorizado assigned)\n      const firstWord = text.split(/\\s+/)[0].toLowerCase().replace(/[^a-záéíóúñ]/gi,'');\n      if (KNOWN_RIDERS.includes(firstWord)) { intent = 'rider'; detectedRider = firstWord; }\n    }\n  }\n}\nreturn [{ json: { intent, jid, text, fromMe, participant, pushName, detectedRider, DASHBOARD, PYP } }];"},"id":"route","name":"Route intent","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.intent }}","rightValue":"delivery","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"delivery"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2","leftValue":"={{ $json.intent }}","rightValue":"rider","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"rider"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c3","leftValue":"={{ $json.intent }}","rightValue":"recibido","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"recibido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c4","leftValue":"={{ $json.intent }}","rightValue":"pagado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pagado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c5","leftValue":"={{ $json.intent }}","rightValue":"saldo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"saldo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c6","leftValue":"={{ $json.intent }}","rightValue":"envio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"envio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c7","leftValue":"={{ $json.intent }}","rightValue":"gasto","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"gasto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c8","leftValue":"={{ $json.intent }}","rightValue":"cambio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cambio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c9","leftValue":"={{ $json.intent }}","rightValue":"pagopyp","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pagopyp"}]},"options":{}},"id":"switch","name":"Switch intent","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[640,400]},{"parameters":{"jsCode":"// Flow A parse\nconst t = $json.text;\nconst orderMatch = t.match(/#(\\d+)/);\nconst phoneMatch = t.match(/\\b(58\\d{10}|0?\\d{10,11})\\b/);\nconst cobrarMatch = t.match(/cobrar\\s*\\$?\\s*([\\d.,]+)/i);\nconst isPaid = /\\bpagado\\b/i.test(t) && !cobrarMatch;\nconst orderNumber = orderMatch ? orderMatch[1] : null;\nlet phone = phoneMatch ? phoneMatch[1] : null;\nif (phone && phone.startsWith('0')) phone = '58' + phone.slice(1);\nelse if (phone && !phone.startsWith('58')) phone = '58' + phone;\nconst amountToCollect = cobrarMatch ? parseFloat(String(cobrarMatch[1]).replace(/,/g,'')) : null;\n\n// Name: between #XXXX and phone\nlet clientName = null;\nif (orderMatch && phoneMatch) {\n  const afterOrder = t.slice(t.indexOf(orderMatch[0]) + orderMatch[0].length);\n  const phoneIdx = afterOrder.indexOf(phoneMatch[0]);\n  if (phoneIdx > 0) clientName = afterOrder.slice(0, phoneIdx).trim();\n}\n\n// Address: after 'destino' up to 'cobrar' / 'pagado'\nconst destMatch = t.match(/destino\\s+(.+?)(?=\\s+(cobrar|pagado)\\b|$)/is);\nconst address = destMatch ? destMatch[1].trim() : null;\n\nreturn [{ json: { orderNumber, clientName, phone, address, amountToCollect, isPaid, isCashOnDelivery: !!cobrarMatch, _src: $json } }];"},"id":"a-parse","name":"A: Parse delivery","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,80]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $json.orderNumber }},shopify_order_id.eq.{{ $json.orderNumber }})&select=id,client_name,total_usd&limit=1","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"a-lookup-order","name":"A: Lookup order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,80],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"jsCode":"const parsed = $('A: Parse delivery').first().json;\nconst orderRow = ($input.first().json && $input.first().json[0]) || null;\nconst orderId = orderRow?.id || null;\nreturn [{ json: { ...parsed, orderId, orderMatchFound: !!orderRow, clientNameFromDb: orderRow?.client_name || null } }];"},"id":"a-build-delivery","name":"A: Build delivery payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,80]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ order_id: $json.orderId, destination: $json.address, status: 'pendiente', is_cash_on_delivery: $json.isCashOnDelivery, cash_to_collect_usd: $json.amountToCollect, notes: 'Origen: Dashboard WA · ' + ($json._src.pushName || '') }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"a-insert-delivery","name":"A: Insert delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,80],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363399646672357@g.us', text: '🧾 *_Plantilla de Servicios_*\\n\\n🏍️ *Servicio* : Delivery\\n\\n🛎️ *N° de Pedido:* #' + ($('A: Build delivery payload').first().json.orderNumber || '—') + '\\n\\n🅰️ *Punto de Retiro* : Prados del este, Calle la ceiba, 5ta Urupagua 80p*\\n\\n🅱️ *Punto de Entrega* : ' + ($('A: Build delivery payload').first().json.address || '—') + '\\n\\n📍 *Referencia*: —\\n\\n👤 *Nombre:* ' + ($('A: Build delivery payload').first().json.clientName || $('A: Build delivery payload').first().json.clientNameFromDb || '—') + '\\n\\n📱 *Tlf / Alternativo:* ' + ($('A: Build delivery payload').first().json.phone || '—') + '\\n\\n💰 *Vuelto a Recibir:* ' + ($('A: Build delivery payload').first().json.isCashOnDelivery ? ('Cobrar $' + $('A: Build delivery payload').first().json.amountToCollect) : '—') + '\\n\\n✅ *Está pago*: ' + ($('A: Build delivery payload').first().json.isPaid ? 'Sí' : 'No') }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi"},"id":"a-send-pyp","name":"A: Send template to PyP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,80],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Delivery #' + ($('A: Build delivery payload').first().json.orderNumber || '—') + ' registrado. Plantilla enviada a PyP.\\n🏍️ Esperando confirmación de motorizado...' + ($('A: Build delivery payload').first().json.orderMatchFound ? '' : '\\n⚠️ No encontré pedido en Supabase con ese número — guardado sin order_id.') }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi"},"id":"a-confirm","name":"A: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,80],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?status=eq.pendiente&order=created_at.desc&limit=1&select=id,order_id,destination","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"b-find-pending","name":"B: Find latest pending","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"jsCode":"const rider = $('Route intent').first().json.detectedRider;\nconst rows = $input.first().json;\nconst row = Array.isArray(rows) ? rows[0] : null;\nif (!row) return [{ json: { noPending: true, rider } }];\nreturn [{ json: { id: row.id, order_id: row.order_id, destination: row.destination, rider } }];"},"id":"b-prep","name":"B: Prep update","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300]},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'asignado', rider_name: $json.rider }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"b-update","name":"B: Update delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '🏍️ Delivery asignado a ' + $('B: Prep update').first().json.rider + '. Destino: ' + ($('B: Prep update').first().json.destination || '—') + '. En camino.' }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi"},"id":"b-notify","name":"B: Notify Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,300],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"jsCode":"// Flow C parse: 'recibido $XX rider' | 'recibido $XX' | 'cobrado #XXXX $XX'\nconst t = $json.text;\nconst amountMatch = t.match(/\\$\\s*([\\d.,]+)/) || t.match(/\\b([\\d.,]+)\\b/);\nconst amount = amountMatch ? parseFloat(String(amountMatch[1]).replace(/,/g,'')) : null;\nconst orderMatch = t.match(/#(\\d+)/);\nconst words = t.toLowerCase().split(/\\s+/);\nconst KNOWN = ['bryant','robert','hector','omar','wilmer','luis','anderson','caldera','ostos','vargas','fabian','diego','johan','kevin','kelvin','abraham','oguir','leonel','ronald','jaider','riyeson','gustavo','marcos','daniela','larry','miguel','farfan','jhosty'];\nconst rider = words.find(w => KNOWN.includes(w.replace(/[^a-z]/g,''))) || null;\nreturn [{ json: { amount, rider: rider ? rider.replace(/[^a-z]/g,'') : null, orderNumber: orderMatch ? orderMatch[1] : null } }];"},"id":"c-parse","name":"C: Parse recibido","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,540]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?status=in.(asignado,en_ruta)&{{ $json.rider ? 'rider_name=eq.' + $json.rider + '&' : '' }}order=created_at.desc&limit=1&select=id,order_id,rider_name","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-find","name":"C: Find delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'cobrado', cash_collected: true, cash_collected_amount: $('C: Parse recibido').first().json.amount, delivered_at: new Date().toISOString() }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-update","name":"C: Update delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ movement_type: 'ingreso', wallet: 'cash_usd', amount: $('C: Parse recibido').first().json.amount, amount_usd_equivalent: $('C: Parse recibido').first().json.amount, concept: 'Delivery cobrado - ' + ($('C: Parse recibido').first().json.rider || 'rider'), order_id: $('C: Find delivery').first().json.order_id || null }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-insert-cash","name":"C: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Recibido $' + $('C: Parse recibido').first().json.amount + ' de ' + ($('C: Parse recibido').first().json.rider || 'rider') + '. Delivery cerrado. Caja +$' + $('C: Parse recibido').first().json.amount + ' cash.' }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi"},"id":"c-confirm","name":"C: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,540],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"jsCode":"// Flow D parse: 'pagado #XXXX method $amt' or 'pagado #XXXX mixto cash $X zelle $Y'\nconst t = $json.text;\nconst orderMatch = t.match(/#(\\d+)/);\nconst orderNumber = orderMatch ? orderMatch[1] : null;\nconst lower = t.toLowerCase();\nconst isMixto = /\\bmixto\\b/.test(lower);\n\n// Find all method+amount pairs\nconst payments = [];\nconst re = /(cash|efectivo|zelle|bs|bolivares|bolívares|binance)\\s*\\$?\\s*([\\d.,]+)/gi;\nlet m;\nwhile ((m = re.exec(t)) !== null) {\n  let method = m[1].toLowerCase();\n  if (method === 'efectivo') method = 'cash';\n  if (method === 'bs' || method === 'bolivares' || method === 'bolívares') method = 'bolivares';\n  const amount = parseFloat(String(m[2]).replace(/,/g,''));\n  if (amount > 0) payments.push({ method, amount });\n}\n\nconst methodForOrder = payments.length === 1 ? payments[0].method : (isMixto ? 'mixto' : (payments[0]?.method || null));\nreturn [{ json: { orderNumber, payments, methodForOrder } }];"},"id":"d-parse","name":"D: Parse pagado","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,780]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $json.orderNumber }},shopify_order_id.eq.{{ $json.orderNumber }})&select=id,exchange_rate&limit=1","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-lookup","name":"D: Lookup order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?id=eq.{{ $json[0]?.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'confirmado', payment_method: $('D: Parse pagado').first().json.methodForOrder }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-update-order","name":"D: Update order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(($('D: Parse pagado').first().json.payments || []).map(p => { const wallet = p.method === 'cash' ? 'cash_usd' : (p.method === 'zelle' ? 'zelle' : 'bolivares'); const orderRow = $('D: Lookup order').first().json[0]; const rate = orderRow?.exchange_rate || null; return { movement_type: 'ingreso', wallet, amount: p.amount, exchange_rate: rate, amount_usd_equivalent: wallet === 'bolivares' ? (rate ? Math.round(p.amount / rate * 100)/100 : null) : p.amount, concept: 'Pago pedido #' + $('D: Parse pagado').first().json.orderNumber, order_id: orderRow?.id || null }; })) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-insert-cash","name":"D: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Pago #' + $('D: Parse pagado').first().json.orderNumber + ' registrado (' + $('D: Parse pagado').first().json.methodForOrder + '). Pedido confirmado. ' + ($('D: Parse pagado').first().json.payments.map(p => p.method + ' $' + p.amount).join(' · ')) }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi"},"id":"d-confirm","name":"D: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,780],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"method":"GET","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements?select=wallet,movement_type,amount","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"e-fetch-balances","name":"E: Fetch balances","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,1020],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}}},{"parameters":{"method":"GET","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/rate","authentication":"none","options":{}},"id":"e-fetch-rate","name":"E: Fetch rate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1020]},{"parameters":{"jsCode":"// Calculate balances from cash_movements\nconst movements = $('E: Fetch balances').first().json;\nconst rateData = $('E: Fetch rate').first().json;\nconst rate = rateData.Bs || 1;\n\n// movements might be a single object or array\nconst movementsArr = $('E: Fetch balances').all().map(i => i.json);\n\nconst balances = { cash_usd: 0, zelle: 0, binance: 0, bolivares: 0 };\n\nfor (const r of movementsArr) {\n  const w = r.wallet;\n  const amt = parseFloat(r.amount) || 0;\n  if (!balances.hasOwnProperty(w)) continue;\n  if (r.movement_type === 'ingreso') balances[w] += amt;\n  else if (r.movement_type === 'egreso') balances[w] -= amt;\n  else if (r.movement_type === 'cambio') balances[w] += amt;\n  else if (r.movement_type === 'transferencia') balances[w] += amt;\n}\n\nconst fmtNum = (n, decimals) => {\n  decimals = decimals != null ? decimals : 2;\n  const abs = Math.abs(n);\n  const parts = abs.toFixed(decimals).split('.');\n  parts[0] = parts[0].replace(/B(?=(d{3})+(?!d))/g, ',');\n  return (n < 0 ? '-' : '') + parts.join('.');\n};\n\nconst bsInUsd = rate > 0 ? balances.bolivares / rate : 0;\nconst totalUsd = balances.cash_usd + balances.zelle + balances.binance + bsInUsd;\n\n// Venezuela time (UTC-4)\nconst now = new Date();\nconst vzTime = new Date(now.getTime() - 4 * 60 * 60 * 1000);\nconst timeStr = vzTime.toISOString().replace('T', ' ').substring(0, 16);\n\nconst lines = [];\nlines.push('*Saldos actuales*');\nlines.push('');\nlines.push('Cash USD:  $' + fmtNum(balances.cash_usd));\nlines.push('Zelle:     $' + fmtNum(balances.zelle));\nlines.push('Binance:   $' + fmtNum(balances.binance));\nlines.push('Bolivares: Bs ' + fmtNum(balances.bolivares, 0) + '  (= $' + fmtNum(bsInUsd) + ')');\nlines.push('');\nlines.push('Total equivalente: $' + fmtNum(totalUsd));\nlines.push('Tasa del dia: Bs ' + fmtNum(rate, 0) + '/USD');\nlines.push(timeStr + ' VET');\n\nconst msg = lines.join(String.fromCharCode(10));\n\nreturn [{ json: { message: msg } }];"},"id":"e-format-saldo","name":"E: Format saldo","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,1020]},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: \"120363427557786772@g.us\", text: $json.message }) }}","options":{}},"id":"e-send-saldo","name":"E: Send saldo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,1020],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}}},{"parameters":{"jsCode":"// Parse: \"envio #2050 mrw 011800605000505\"\nconst text = $json.text;\nconst m = text.match(/^envio\\s+#?(\\d+)\\s+(mrw|zoom|tealca|domesa|dhl)\\s+(\\S+)/i);\nif (!m) throw new Error('Formato inválido. Usar: envio #XXXX carrier tracking');\nconst orderNumber = m[1];\nconst carrier = m[2].toLowerCase();\nconst tracking = m[3];\n\nconst trackingUrls = {\n  mrw: 'mrw.com.ve',\n  zoom: 'zoom.red',\n  tealca: 'tealca.com',\n  domesa: 'domesa.com',\n  dhl: 'dhl.com'\n};\nconst trackUrl = trackingUrls[carrier] || '';\n\nreturn [{ json: { orderNumber, carrier, tracking, trackUrl } }];"},"name":"F: Parse envio","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1260],"id":"4d39f018-141a-4c9f-84ac-9a5491b609d5"},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $json.orderNumber }},shopify_order_id.eq.{{ $json.orderNumber }})&select=id,order_number,client_name,client_phone,client_city,status&limit=1","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":false,"options":{}},"name":"F: Lookup order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1260],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"58b48319-2d3c-4101-b44a-6733ee7bc819"},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $('F: Parse envio').first().json.orderNumber }},shopify_order_id.eq.{{ $('F: Parse envio').first().json.orderNumber }})","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ carrier: $('F: Parse envio').first().json.carrier, tracking_number: $('F: Parse envio').first().json.tracking, delivery_type: 'envio', status: 'despachado' }) }}","options":{}},"name":"F: Update order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1260],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"2ba42e46-f6d6-4086-adc8-2095c57db977"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.hasPhone ? JSON.stringify({ number: $json.clientPhone + \"@s.whatsapp.net\", text: \"📦 Tu pedido fue despachado por \" + $json.carrier.toUpperCase() + \".\\nTracking: \" + $json.tracking + \"\\nPuedes rastrearlo en \" + $json.trackUrl + \" 🚚\" }) : '{\"number\":\"0@s.whatsapp.net\",\"text\":\"skip\"}' }}","options":{}},"name":"F: Notify client","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,1260],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"onError":"continueRegularOutput","id":"54f1eab0-9203-41a2-afe7-f0545330fe0b"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: \"120363427557786772@g.us\", text: $('F: Prep notify').first().json.dashboardMsg }) }}","options":{}},"name":"F: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,1260],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"24800c21-55f3-4810-a092-5b16a11d8c26"},{"parameters":{"jsCode":"// Merge parsed data with order data from lookup\nconst parsed = $('F: Parse envio').first().json;\nconst lookupResult = $('F: Lookup order').first().json;\n\nconst order = Array.isArray(lookupResult) ? lookupResult[0] : lookupResult;\n\nconst clientName = order?.client_name || '';\nconst clientPhone = order?.client_phone || '';\nconst clientCity = order?.client_city || '';\nconst hasPhone = !!(clientPhone && clientPhone.length > 5);\n\nlet cleanPhone = clientPhone.replace(/[^0-9]/g, '');\nif (cleanPhone.startsWith('0')) cleanPhone = '58' + cleanPhone.substring(1);\nif (!cleanPhone.startsWith('58') && cleanPhone.length === 10) cleanPhone = '58' + cleanPhone;\n\n// Build dashboard confirmation message\nlet dashboardMsg = \"\\u2705 #\" + parsed.orderNumber + \" despachado por \" + parsed.carrier.toUpperCase() + \". \";\nif (hasPhone) {\n  dashboardMsg += \"Tracking enviado a \" + (clientName || \"cliente\");\n  if (clientCity) dashboardMsg += \" (\" + clientCity + \")\";\n  dashboardMsg += \".\";\n} else {\n  dashboardMsg += \"Tracking registrado.\";\n  dashboardMsg += \"\\n\\u26a0\\ufe0f Sin tel\\u00e9fono registrado \\u2014 tracking NO enviado al cliente.\";\n}\n\nreturn [{ json: {\n  orderNumber: parsed.orderNumber,\n  carrier: parsed.carrier,\n  tracking: parsed.tracking,\n  trackUrl: parsed.trackUrl,\n  clientName,\n  clientPhone: cleanPhone,\n  clientCity,\n  hasPhone,\n  dashboardMsg\n}}];"},"name":"F: Prep notify","type":"n8n-nodes-base.code","typeVersion":2,"position":[1430,1260],"id":"4e37387e-530e-46e3-a092-ad135400f15b"},{"parameters":{"jsCode":"// Parse: \"gasto $25 gasolina\" or \"gasto $100 mercadería PyP\" or \"gasto $50 zelle comida\"\nconst text = $json.text;\n\n// Match amount (with or without $)\nconst m = text.match(/^gasto\\s+\\$?\\s*([\\d.,]+)\\s+(.+)/i);\nif (!m) throw new Error('Formato inválido. Usar: gasto $XX concepto');\n\nconst amount = parseFloat(m[1].replace(/,/g, ''));\nlet rest = m[2].trim();\n\n// Check if first word of rest is a wallet name\nconst wallets = ['cash', 'cash_usd', 'zelle', 'bolivares', 'bs', 'binance'];\nconst firstWord = rest.split(/\\s+/)[0].toLowerCase();\nlet wallet = 'cash_usd'; // default\n\nif (wallets.includes(firstWord)) {\n  if (firstWord === 'zelle') wallet = 'zelle';\n  else if (firstWord === 'bolivares' || firstWord === 'bs') wallet = 'bolivares';\n  else if (firstWord === 'binance') wallet = 'binance';\n  else wallet = 'cash_usd';\n  // Remove wallet word from concept\n  rest = rest.split(/\\s+/).slice(1).join(' ').trim();\n}\n\nconst concept = rest || 'gasto sin concepto';\n\nreturn [{ json: { amount, wallet, concept } }];"},"name":"G: Parse gasto","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1500],"id":"b0cc12e4-53a0-4e81-88ad-72ab6842bc0c"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ movement_type: 'egreso', wallet: $json.wallet, amount: $json.amount, amount_usd_equivalent: $json.amount, concept: $json.concept }) }}","options":{}},"name":"G: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1500],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"fe73e2eb-bad0-48fd-8c6a-fac4a8039383"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '\\u2705 Gasto $' + $('G: Parse gasto').first().json.amount + ' registrado: ' + $('G: Parse gasto').first().json.concept + '. Caja -$' + $('G: Parse gasto').first().json.amount + ' ' + $('G: Parse gasto').first().json.wallet.replace('cash_usd','cash') + '.' }) }}","options":{}},"name":"G: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1500],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"a7e2c1cc-8db4-49fb-8ce8-b93a2562b8fb"},{"parameters":{"jsCode":"// Parse: \"cambio $200 cash zelle\" | \"cambio $500 zelle cash\" | \"cambio $300 cash bs\"\nconst text = $json.text;\nconst m = text.match(/^cambio\\s+\\$?\\s*([\\d.,]+)\\s+(\\S+)\\s+(\\S+)/i);\nif (!m) throw new Error('Formato: cambio $XX origen destino');\n\nconst amount = parseFloat(m[1].replace(/,/g, ''));\nconst fromRaw = m[2].toLowerCase();\nconst toRaw = m[3].toLowerCase();\n\n// Normalize wallet names\nfunction norm(w) {\n  if (w === 'cash' || w === 'cash_usd' || w === 'efectivo') return 'cash_usd';\n  if (w === 'zelle') return 'zelle';\n  if (w === 'bs' || w === 'bolivares' || w === 'bsf') return 'bolivares';\n  if (w === 'binance') return 'binance';\n  return w;\n}\n\nconst fromWallet = norm(fromRaw);\nconst toWallet = norm(toRaw);\n\nif (fromWallet === toWallet) throw new Error(\"Origen y destino no pueden ser iguales\");\n\nconst needsRate = (fromWallet === 'bolivares' || toWallet === 'bolivares');\n\nreturn [{ json: { amount, fromWallet, toWallet, fromRaw, toRaw, needsRate } }];"},"name":"H: Parse cambio","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1740],"id":"c15c412e-ba3e-4815-9c3e-e03fa511848a"},{"parameters":{"method":"GET","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/rate","authentication":"none","options":{}},"name":"H: Fetch rate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1740],"id":"8fd156b9-17f7-42e1-a6a3-c218a0013a6e"},{"parameters":{"jsCode":"// Build egreso + ingreso movements for the cambio\nconst parsed = $('H: Parse cambio').first().json;\nconst rate = $('H: Fetch rate').first().json.Bs || 1;\n\nconst amount = parsed.amount;\nconst from = parsed.fromWallet;\nconst to = parsed.toWallet;\n\n// Calculate amounts for each side\nlet fromAmount = amount;\nlet toAmount = amount;\nlet fromUsdEq = amount;\nlet toUsdEq = amount;\n\nif (from === 'bolivares') {\n  // Converting FROM bs: amount is in Bs, USD equivalent = amount / rate\n  fromUsdEq = Math.round((amount / rate) * 100) / 100;\n  toAmount = fromUsdEq;\n  toUsdEq = fromUsdEq;\n} else if (to === 'bolivares') {\n  // Converting TO bs: amount is in USD, Bs equivalent = amount * rate\n  toAmount = Math.round(amount * rate * 100) / 100;\n  toUsdEq = amount;\n}\n\nconst movements = [\n  {\n    movement_type: 'egreso',\n    wallet: from,\n    amount: fromAmount,\n    amount_usd_equivalent: fromUsdEq,\n    exchange_rate: rate,\n    concept: 'Cambio ' + from.replace('cash_usd','cash') + ' → ' + to.replace('cash_usd','cash')\n  },\n  {\n    movement_type: 'ingreso',\n    wallet: to,\n    amount: toAmount,\n    amount_usd_equivalent: toUsdEq,\n    exchange_rate: rate,\n    concept: 'Cambio ' + from.replace('cash_usd','cash') + ' → ' + to.replace('cash_usd','cash')\n  }\n];\n\n// Build dashboard message\nlet msg = '\\u2705 Cambio registrado: $' + amount + ' ' + from.replace('cash_usd','cash') + ' \\u2192 ' + to.replace('cash_usd','cash') + '.';\nif (to === 'bolivares') msg += ' (Bs ' + toAmount.toLocaleString() + ' a tasa ' + rate + ')';\nif (from === 'bolivares') msg += ' (Bs ' + fromAmount.toLocaleString() + ' = $' + fromUsdEq + ' a tasa ' + rate + ')';\n\nreturn [{ json: { movements, dashboardMsg: msg, rate } }];"},"name":"H: Build movements","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,1740],"id":"880d1d11-229b-4eb7-a5a0-76f0e9f6329a"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.movements) }}","options":{}},"name":"H: Insert movements","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,1740],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"fb88db23-8395-4dad-bb5c-2b4123ae6bbf"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: $('H: Build movements').first().json.dashboardMsg }) }}","options":{}},"name":"H: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,1740],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"0c846bbe-30be-40b1-8b72-b30c14b328ee"},{"parameters":{"jsCode":"// Parse: \"pagopyp $25\" or \"pagopyp $25 zelle\" or \"pagopyp $100 bs\"\nconst text = $json.text;\nconst m = text.match(/^pagopyp\\s+\\$?\\s*([\\d.,]+)(?:\\s+(\\S+))?/i);\nif (!m) throw new Error('Formato: pagopyp $XX [zelle|bs]');\nconst amount = parseFloat(m[1].replace(/,/g, ''));\nconst walletRaw = (m[2] || 'zelle').toLowerCase();\nlet wallet = 'zelle';\nif (walletRaw === 'bs' || walletRaw === 'bolivares') wallet = 'bolivares';\nelse if (walletRaw === 'cash' || walletRaw === 'cash_usd') wallet = 'cash_usd';\nreturn [{ json: { amount, wallet } }];"},"name":"I: Parse pagopyp","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1980],"id":"f837d0a2-067d-4c8f-b516-cb3a70719e76"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ movement_type: 'egreso', wallet: $json.wallet, amount: $json.amount, amount_usd_equivalent: $json.amount, concept: 'Pago a PyP' }) }}","options":{}},"name":"I: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1980],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"406f7184-7115-43fd-b0f0-3555e2c03f10"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '\\u2705 Pago PyP $' + $('I: Parse pagopyp').first().json.amount + ' registrado. Caja -$' + $('I: Parse pagopyp').first().json.amount + ' ' + $('I: Parse pagopyp').first().json.wallet.replace('cash_usd','cash') + '.' }) }}","options":{}},"name":"I: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,1980],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"9456d5d3-cde4-43ce-8e19-42aac180df72"}],"connections":{"WA webhook":{"main":[[{"node":"Route intent","type":"main","index":0}]]},"Route intent":{"main":[[{"node":"Switch intent","type":"main","index":0}]]},"Switch intent":{"main":[[{"node":"A: Parse delivery","type":"main","index":0}],[{"node":"B: Find latest pending","type":"main","index":0}],[{"node":"C: Parse recibido","type":"main","index":0}],[{"node":"D: Parse pagado","type":"main","index":0}],[{"node":"E: Fetch balances","type":"main","index":0}],[{"node":"F: Parse envio","type":"main","index":0}],[{"node":"G: Parse gasto","type":"main","index":0}],[{"node":"H: Parse cambio","type":"main","index":0}],[{"node":"I: Parse pagopyp","type":"main","index":0}]]},"A: Parse delivery":{"main":[[{"node":"A: Lookup order","type":"main","index":0}]]},"A: Lookup order":{"main":[[{"node":"A: Build delivery payload","type":"main","index":0}]]},"A: Build delivery payload":{"main":[[{"node":"A: Insert delivery","type":"main","index":0}]]},"A: Insert delivery":{"main":[[{"node":"A: Send template to PyP","type":"main","index":0}]]},"A: Send template to PyP":{"main":[[{"node":"A: Confirm Dashboard","type":"main","index":0}]]},"B: Find latest pending":{"main":[[{"node":"B: Prep update","type":"main","index":0}]]},"B: Prep update":{"main":[[{"node":"B: Update delivery","type":"main","index":0}]]},"B: Update delivery":{"main":[[{"node":"B: Notify Dashboard","type":"main","index":0}]]},"C: Parse recibido":{"main":[[{"node":"C: Find delivery","type":"main","index":0}]]},"C: Find delivery":{"main":[[{"node":"C: Update delivery","type":"main","index":0}]]},"C: Update delivery":{"main":[[{"node":"C: Insert cash","type":"main","index":0}]]},"C: Insert cash":{"main":[[{"node":"C: Confirm Dashboard","type":"main","index":0}]]},"D: Parse pagado":{"main":[[{"node":"D: Lookup order","type":"main","index":0}]]},"D: Lookup order":{"main":[[{"node":"D: Update order","type":"main","index":0}]]},"D: Update order":{"main":[[{"node":"D: Insert cash","type":"main","index":0}]]},"D: Insert cash":{"main":[[{"node":"D: Confirm Dashboard","type":"main","index":0}]]},"E: Fetch balances":{"main":[[{"node":"E: Fetch rate","type":"main","index":0}]]},"E: Fetch rate":{"main":[[{"node":"E: Format saldo","type":"main","index":0}]]},"E: Format saldo":{"main":[[{"node":"E: Send saldo","type":"main","index":0}]]},"F: Parse envio":{"main":[[{"node":"F: Lookup order","type":"main","index":0}]]},"F: Lookup order":{"main":[[{"node":"F: Update order","type":"main","index":0}]]},"F: Update order":{"main":[[{"node":"F: Prep notify","type":"main","index":0}]]},"F: Notify client":{"main":[[{"node":"F: Confirm Dashboard","type":"main","index":0}]]},"F: Prep notify":{"main":[[{"node":"F: Notify client","type":"main","index":0}]]},"G: Parse gasto":{"main":[[{"node":"G: Insert cash","type":"main","index":0}]]},"G: Insert cash":{"main":[[{"node":"G: Confirm Dashboard","type":"main","index":0}]]},"H: Parse cambio":{"main":[[{"node":"H: Fetch rate","type":"main","index":0}]]},"H: Fetch rate":{"main":[[{"node":"H: Build movements","type":"main","index":0}]]},"H: Build movements":{"main":[[{"node":"H: Insert movements","type":"main","index":0}]]},"H: Insert movements":{"main":[[{"node":"H: Confirm Dashboard","type":"main","index":0}]]},"I: Parse pagopyp":{"main":[[{"node":"I: Insert cash","type":"main","index":0}]]},"I: Insert cash":{"main":[[{"node":"I: Confirm Dashboard","type":"main","index":0}]]}},"authors":"Aniello Rescigno","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-18T00:25:49.529Z","id":835,"workflowId":"X16QoSlg2WyXocbj","versionId":"57a07967-270e-4cb2-9875-30490296c9a2","event":"activated","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3"}]}}