n8n/workflows/06_dashboard_listener.json
{"updatedAt":"2026-04-17T00:48:23.878Z","createdAt":"2026-04-16T19:43:23.318Z","id":"X16QoSlg2WyXocbj","name":"Shadow iOS — 06 Dashboard listener","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"shadow-ios-wa-listener","responseMode":"onReceived","options":{}},"id":"webhook","name":"WA webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,400],"webhookId":"shadow-ios-wa-listener"},{"parameters":{"jsCode":"// Normalize Evolution API payload + classify intent\nconst b = $input.first().json;\nconst body = b.body || b;\nconst data = body.data || {};\nconst key = data.key || {};\nconst jid = key.remoteJid || '';\nconst fromMe = !!key.fromMe;\nconst msg = data.message || {};\nconst text = (msg.conversation || msg.extendedTextMessage?.text || msg.imageMessage?.caption || '').trim();\nconst participant = key.participant || '';\nconst pushName = data.pushName || '';\n\nconst DASHBOARD = '120363427557786772@g.us';\nconst PYP = '120363399646672357@g.us';\nconst KNOWN_RIDERS = ['bryant','robert','hector','omar','wilmer','luis','anderson','caldera','ostos','vargas','fabian','diego','johan','kevin','kelvin','abraham','oguir','leonel','ronald','jaider','riyeson','gustavo','marcos','daniela','larry','miguel','farfan','jhosty'];\n\nlet intent = 'ignore';\nlet detectedRider = null;\nif (!fromMe && text) {\n  if (jid === DASHBOARD) {\n    if (/^delivery\\b/i.test(text)) intent = 'delivery';\n    else if (/^(recibido|cobrado)\\b/i.test(text)) intent = 'recibido';\n    else if (/^pagado\\b/i.test(text)) intent = 'pagado';\n  } else if (jid === PYP) {\n    // First non-empty word as potential rider\n    const firstWord = text.split(/\\s+/)[0].toLowerCase().replace(/[^a-záéíóúñ]/gi,'');\n    if (KNOWN_RIDERS.includes(firstWord)) { intent = 'rider'; detectedRider = firstWord; }\n  }\n}\nreturn [{ json: { intent, jid, text, fromMe, participant, pushName, detectedRider, DASHBOARD, PYP } }];"},"id":"route","name":"Route intent","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.intent }}","rightValue":"delivery","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"delivery"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2","leftValue":"={{ $json.intent }}","rightValue":"rider","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"rider"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c3","leftValue":"={{ $json.intent }}","rightValue":"recibido","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"recibido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c4","leftValue":"={{ $json.intent }}","rightValue":"pagado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pagado"}]},"options":{}},"id":"switch","name":"Switch intent","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[640,400]},{"parameters":{"jsCode":"// Flow A parse\nconst t = $json.text;\nconst orderMatch = t.match(/#(\\d+)/);\nconst phoneMatch = t.match(/\\b(58\\d{10}|0?\\d{10,11})\\b/);\nconst cobrarMatch = t.match(/cobrar\\s*\\$?\\s*([\\d.,]+)/i);\nconst isPaid = /\\bpagado\\b/i.test(t) && !cobrarMatch;\nconst orderNumber = orderMatch ? orderMatch[1] : null;\nlet phone = phoneMatch ? phoneMatch[1] : null;\nif (phone && phone.startsWith('0')) phone = '58' + phone.slice(1);\nelse if (phone && !phone.startsWith('58')) phone = '58' + phone;\nconst amountToCollect = cobrarMatch ? parseFloat(String(cobrarMatch[1]).replace(/,/g,'')) : null;\n\n// Name: between #XXXX and phone\nlet clientName = null;\nif (orderMatch && phoneMatch) {\n  const afterOrder = t.slice(t.indexOf(orderMatch[0]) + orderMatch[0].length);\n  const phoneIdx = afterOrder.indexOf(phoneMatch[0]);\n  if (phoneIdx > 0) clientName = afterOrder.slice(0, phoneIdx).trim();\n}\n\n// Address: after 'destino' up to 'cobrar' / 'pagado'\nconst destMatch = t.match(/destino\\s+(.+?)(?=\\s+(cobrar|pagado)\\b|$)/is);\nconst address = destMatch ? destMatch[1].trim() : null;\n\nreturn [{ json: { orderNumber, clientName, phone, address, amountToCollect, isPaid, isCashOnDelivery: !!cobrarMatch, _src: $json } }];"},"id":"a-parse","name":"A: Parse delivery","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,80]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $json.orderNumber }},shopify_order_id.eq.{{ $json.orderNumber }})&select=id,client_name,total_usd&limit=1","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"a-lookup-order","name":"A: Lookup order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,80],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"jsCode":"const parsed = $('A: Parse delivery').first().json;\nconst orderRow = ($input.first().json && $input.first().json[0]) || null;\nconst orderId = orderRow?.id || null;\nreturn [{ json: { ...parsed, orderId, orderMatchFound: !!orderRow, clientNameFromDb: orderRow?.client_name || null } }];"},"id":"a-build-delivery","name":"A: Build delivery payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,80]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ order_id: $json.orderId, destination: $json.address, status: 'pendiente', is_cash_on_delivery: $json.isCashOnDelivery, cash_to_collect_usd: $json.amountToCollect, notes: 'Origen: Dashboard WA · ' + ($json._src.pushName || '') }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"a-insert-delivery","name":"A: Insert delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,80],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363399646672357@g.us', text: '🧾 *_Plantilla de Servicios_*\\n\\n🏍️ *Servicio* : Delivery\\n\\n🛎️ *N° de Pedido:* #' + ($('A: Build delivery payload').first().json.orderNumber || '—') + '\\n\\n🅰️ *Punto de Retiro* : Prados del este, Calle la ceiba, 5ta Urupagua 80p*\\n\\n🅱️ *Punto de Entrega* : ' + ($('A: Build delivery payload').first().json.address || '—') + '\\n\\n📍 *Referencia*: —\\n\\n👤 *Nombre:* ' + ($('A: Build delivery payload').first().json.clientName || $('A: Build delivery payload').first().json.clientNameFromDb || '—') + '\\n\\n📱 *Tlf / Alternativo:* ' + ($('A: Build delivery payload').first().json.phone || '—') + '\\n\\n💰 *Vuelto a Recibir:* ' + ($('A: Build delivery payload').first().json.isCashOnDelivery ? ('Cobrar $' + $('A: Build delivery payload').first().json.amountToCollect) : '—') + '\\n\\n✅ *Está pago*: ' + ($('A: Build delivery payload').first().json.isPaid ? 'Sí' : 'No') }) }}","options":{}},"id":"a-send-pyp","name":"A: Send template to PyP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,80]},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Delivery #' + ($('A: Build delivery payload').first().json.orderNumber || '—') + ' registrado. Plantilla enviada a PyP.\\n🏍️ Esperando confirmación de motorizado...' + ($('A: Build delivery payload').first().json.orderMatchFound ? '' : '\\n⚠️ No encontré pedido en Supabase con ese número — guardado sin order_id.') }) }}","options":{}},"id":"a-confirm","name":"A: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,80]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?status=eq.pendiente&order=created_at.desc&limit=1&select=id,order_id,destination","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"b-find-pending","name":"B: Find latest pending","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"jsCode":"const rider = $('Route intent').first().json.detectedRider;\nconst rows = $input.first().json;\nconst row = Array.isArray(rows) ? rows[0] : null;\nif (!row) return [{ json: { noPending: true, rider } }];\nreturn [{ json: { id: row.id, order_id: row.order_id, destination: row.destination, rider } }];"},"id":"b-prep","name":"B: Prep update","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300]},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'asignado', rider_name: $json.rider }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"b-update","name":"B: Update delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '🏍️ Delivery asignado a ' + $('B: Prep update').first().json.rider + '. Destino: ' + ($('B: Prep update').first().json.destination || '—') + '. En camino.' }) }}","options":{}},"id":"b-notify","name":"B: Notify Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,300]},{"parameters":{"jsCode":"// Flow C parse: 'recibido $XX rider' | 'recibido $XX' | 'cobrado #XXXX $XX'\nconst t = $json.text;\nconst amountMatch = t.match(/\\$\\s*([\\d.,]+)/) || t.match(/\\b([\\d.,]+)\\b/);\nconst amount = amountMatch ? parseFloat(String(amountMatch[1]).replace(/,/g,'')) : null;\nconst orderMatch = t.match(/#(\\d+)/);\nconst words = t.toLowerCase().split(/\\s+/);\nconst KNOWN = ['bryant','robert','hector','omar','wilmer','luis','anderson','caldera','ostos','vargas','fabian','diego','johan','kevin','kelvin','abraham','oguir','leonel','ronald','jaider','riyeson','gustavo','marcos','daniela','larry','miguel','farfan','jhosty'];\nconst rider = words.find(w => KNOWN.includes(w.replace(/[^a-z]/g,''))) || null;\nreturn [{ json: { amount, rider: rider ? rider.replace(/[^a-z]/g,'') : null, orderNumber: orderMatch ? orderMatch[1] : null } }];"},"id":"c-parse","name":"C: Parse recibido","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,540]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?status=in.(asignado,en_ruta)&{{ $json.rider ? 'rider_name=eq.' + $json.rider + '&' : '' }}order=created_at.desc&limit=1&select=id,order_id,rider_name","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-find","name":"C: Find delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?id=eq.{{ $json[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'cobrado', cash_collected: true, cash_collected_amount: $('C: Parse recibido').first().json.amount, delivered_at: new Date().toISOString() }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-update","name":"C: Update delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ movement_type: 'ingreso', wallet: 'cash_usd', amount: $('C: Parse recibido').first().json.amount, amount_usd_equivalent: $('C: Parse recibido').first().json.amount, concept: 'Delivery cobrado - ' + ($('C: Parse recibido').first().json.rider || 'rider'), order_id: $('C: Update delivery').first().json[0]?.order_id || null }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-insert-cash","name":"C: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Recibido $' + $('C: Parse recibido').first().json.amount + ' de ' + ($('C: Parse recibido').first().json.rider || 'rider') + '. Delivery cerrado. Caja +$' + $('C: Parse recibido').first().json.amount + ' cash.' }) }}","options":{}},"id":"c-confirm","name":"C: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,540]},{"parameters":{"jsCode":"// Flow D parse: 'pagado #XXXX method $amt' or 'pagado #XXXX mixto cash $X zelle $Y'\nconst t = $json.text;\nconst orderMatch = t.match(/#(\\d+)/);\nconst orderNumber = orderMatch ? orderMatch[1] : null;\nconst lower = t.toLowerCase();\nconst isMixto = /\\bmixto\\b/.test(lower);\n\n// Find all method+amount pairs\nconst payments = [];\nconst re = /(cash|efectivo|zelle|bs|bolivares|bolívares|binance)\\s*\\$?\\s*([\\d.,]+)/gi;\nlet m;\nwhile ((m = re.exec(t)) !== null) {\n  let method = m[1].toLowerCase();\n  if (method === 'efectivo') method = 'cash';\n  if (method === 'bs' || method === 'bolivares' || method === 'bolívares') method = 'bolivares';\n  const amount = parseFloat(String(m[2]).replace(/,/g,''));\n  if (amount > 0) payments.push({ method, amount });\n}\n\nconst methodForOrder = payments.length === 1 ? payments[0].method : (isMixto ? 'mixto' : (payments[0]?.method || null));\nreturn [{ json: { orderNumber, payments, methodForOrder } }];"},"id":"d-parse","name":"D: Parse pagado","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,780]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $json.orderNumber }},shopify_order_id.eq.{{ $json.orderNumber }})&select=id,exchange_rate&limit=1","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-lookup","name":"D: Lookup order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?id=eq.{{ $json[0]?.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'confirmado', payment_method: $('D: Parse pagado').first().json.methodForOrder }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-update-order","name":"D: Update order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(($('D: Parse pagado').first().json.payments || []).map(p => { const wallet = p.method === 'cash' ? 'cash_usd' : (p.method === 'zelle' ? 'zelle' : 'bolivares'); const orderRow = $('D: Lookup order').first().json[0]; const rate = orderRow?.exchange_rate || null; return { movement_type: 'ingreso', wallet, amount: p.amount, exchange_rate: rate, amount_usd_equivalent: wallet === 'bolivares' ? (rate ? Math.round(p.amount / rate * 100)/100 : null) : p.amount, concept: 'Pago pedido #' + $('D: Parse pagado').first().json.orderNumber, order_id: orderRow?.id || null }; })) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-insert-cash","name":"D: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Pago #' + $('D: Parse pagado').first().json.orderNumber + ' registrado (' + $('D: Parse pagado').first().json.methodForOrder + '). Pedido confirmado. ' + ($('D: Parse pagado').first().json.payments.map(p => p.method + ' $' + p.amount).join(' · ')) }) }}","options":{}},"id":"d-confirm","name":"D: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,780]}],"connections":{"WA webhook":{"main":[[{"node":"Route intent","type":"main","index":0}]]},"Route intent":{"main":[[{"node":"Switch intent","type":"main","index":0}]]},"Switch intent":{"main":[[{"node":"A: Parse delivery","type":"main","index":0}],[{"node":"B: Find latest pending","type":"main","index":0}],[{"node":"C: Parse recibido","type":"main","index":0}],[{"node":"D: Parse pagado","type":"main","index":0}]]},"A: Parse delivery":{"main":[[{"node":"A: Lookup order","type":"main","index":0}]]},"A: Lookup order":{"main":[[{"node":"A: Build delivery payload","type":"main","index":0}]]},"A: Build delivery payload":{"main":[[{"node":"A: Insert delivery","type":"main","index":0}]]},"A: Insert delivery":{"main":[[{"node":"A: Send template to PyP","type":"main","index":0}]]},"A: Send template to PyP":{"main":[[{"node":"A: Confirm Dashboard","type":"main","index":0}]]},"B: Find latest pending":{"main":[[{"node":"B: Prep update","type":"main","index":0}]]},"B: Prep update":{"main":[[{"node":"B: Update delivery","type":"main","index":0}]]},"B: Update delivery":{"main":[[{"node":"B: Notify Dashboard","type":"main","index":0}]]},"C: Parse recibido":{"main":[[{"node":"C: Find delivery","type":"main","index":0}]]},"C: Find delivery":{"main":[[{"node":"C: Update delivery","type":"main","index":0}]]},"C: Update delivery":{"main":[[{"node":"C: Insert cash","type":"main","index":0}]]},"C: Insert cash":{"main":[[{"node":"C: Confirm Dashboard","type":"main","index":0}]]},"D: Parse pagado":{"main":[[{"node":"D: Lookup order","type":"main","index":0}]]},"D: Lookup order":{"main":[[{"node":"D: Update order","type":"main","index":0}]]},"D: Update order":{"main":[[{"node":"D: Insert cash","type":"main","index":0}]]},"D: Insert cash":{"main":[[{"node":"D: Confirm Dashboard","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"932bb4fb-3df7-404b-aa16-183eaec074e5","activeVersionId":"932bb4fb-3df7-404b-aa16-183eaec074e5","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2026-04-16T19:43:23.325Z","createdAt":"2026-04-16T19:43:23.325Z","role":"workflow:owner","workflowId":"X16QoSlg2WyXocbj","projectId":"NJ3rjcCVeDHPF7sa","project":{"updatedAt":"2025-11-03T14:48:00.044Z","createdAt":"2025-11-03T14:41:36.663Z","id":"NJ3rjcCVeDHPF7sa","name":"Aniello Rescigno <rescignoaniello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectRelations":[{"updatedAt":"2025-11-03T14:41:36.664Z","createdAt":"2025-11-03T14:41:36.664Z","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectId":"NJ3rjcCVeDHPF7sa","user":{"updatedAt":"2026-04-16T19:05:24.000Z","createdAt":"2025-11-03T14:41:35.993Z","id":"448be12a-ad32-4dc2-85c1-be8439daf6a3","email":"rescignoaniello@gmail.com","firstName":"Aniello","lastName":"Rescigno","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-03T14:48:19.853Z","personalization_survey_n8n_version":"1.103.2","companySize":"personalUser","companyType":"ecommerce","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"DYUtIYpfTjv9nnRK","userActivatedAt":1762197033728,"npsSurvey":{"responded":true,"lastShownAt":1770322564226},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-17T00:48:23.883Z","createdAt":"2026-04-17T00:48:23.883Z","versionId":"932bb4fb-3df7-404b-aa16-183eaec074e5","workflowId":"X16QoSlg2WyXocbj","nodes":[{"parameters":{"httpMethod":"POST","path":"shadow-ios-wa-listener","responseMode":"onReceived","options":{}},"id":"webhook","name":"WA webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,400],"webhookId":"shadow-ios-wa-listener"},{"parameters":{"jsCode":"// Normalize Evolution API payload + classify intent\nconst b = $input.first().json;\nconst body = b.body || b;\nconst data = body.data || {};\nconst key = data.key || {};\nconst jid = key.remoteJid || '';\nconst fromMe = !!key.fromMe;\nconst msg = data.message || {};\nconst text = (msg.conversation || msg.extendedTextMessage?.text || msg.imageMessage?.caption || '').trim();\nconst participant = key.participant || '';\nconst pushName = data.pushName || '';\n\nconst DASHBOARD = '120363427557786772@g.us';\nconst PYP = '120363399646672357@g.us';\nconst KNOWN_RIDERS = ['bryant','robert','hector','omar','wilmer','luis','anderson','caldera','ostos','vargas','fabian','diego','johan','kevin','kelvin','abraham','oguir','leonel','ronald','jaider','riyeson','gustavo','marcos','daniela','larry','miguel','farfan','jhosty'];\n\nlet intent = 'ignore';\nlet detectedRider = null;\nif (!fromMe && text) {\n  if (jid === DASHBOARD) {\n    if (/^delivery\\b/i.test(text)) intent = 'delivery';\n    else if (/^(recibido|cobrado)\\b/i.test(text)) intent = 'recibido';\n    else if (/^pagado\\b/i.test(text)) intent = 'pagado';\n  } else if (jid === PYP) {\n    // First non-empty word as potential rider\n    const firstWord = text.split(/\\s+/)[0].toLowerCase().replace(/[^a-záéíóúñ]/gi,'');\n    if (KNOWN_RIDERS.includes(firstWord)) { intent = 'rider'; detectedRider = firstWord; }\n  }\n}\nreturn [{ json: { intent, jid, text, fromMe, participant, pushName, detectedRider, DASHBOARD, PYP } }];"},"id":"route","name":"Route intent","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.intent }}","rightValue":"delivery","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"delivery"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c2","leftValue":"={{ $json.intent }}","rightValue":"rider","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"rider"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c3","leftValue":"={{ $json.intent }}","rightValue":"recibido","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"recibido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c4","leftValue":"={{ $json.intent }}","rightValue":"pagado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pagado"}]},"options":{}},"id":"switch","name":"Switch intent","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[640,400]},{"parameters":{"jsCode":"// Flow A parse\nconst t = $json.text;\nconst orderMatch = t.match(/#(\\d+)/);\nconst phoneMatch = t.match(/\\b(58\\d{10}|0?\\d{10,11})\\b/);\nconst cobrarMatch = t.match(/cobrar\\s*\\$?\\s*([\\d.,]+)/i);\nconst isPaid = /\\bpagado\\b/i.test(t) && !cobrarMatch;\nconst orderNumber = orderMatch ? orderMatch[1] : null;\nlet phone = phoneMatch ? phoneMatch[1] : null;\nif (phone && phone.startsWith('0')) phone = '58' + phone.slice(1);\nelse if (phone && !phone.startsWith('58')) phone = '58' + phone;\nconst amountToCollect = cobrarMatch ? parseFloat(String(cobrarMatch[1]).replace(/,/g,'')) : null;\n\n// Name: between #XXXX and phone\nlet clientName = null;\nif (orderMatch && phoneMatch) {\n  const afterOrder = t.slice(t.indexOf(orderMatch[0]) + orderMatch[0].length);\n  const phoneIdx = afterOrder.indexOf(phoneMatch[0]);\n  if (phoneIdx > 0) clientName = afterOrder.slice(0, phoneIdx).trim();\n}\n\n// Address: after 'destino' up to 'cobrar' / 'pagado'\nconst destMatch = t.match(/destino\\s+(.+?)(?=\\s+(cobrar|pagado)\\b|$)/is);\nconst address = destMatch ? destMatch[1].trim() : null;\n\nreturn [{ json: { orderNumber, clientName, phone, address, amountToCollect, isPaid, isCashOnDelivery: !!cobrarMatch, _src: $json } }];"},"id":"a-parse","name":"A: Parse delivery","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,80]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $json.orderNumber }},shopify_order_id.eq.{{ $json.orderNumber }})&select=id,client_name,total_usd&limit=1","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"a-lookup-order","name":"A: Lookup order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,80],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"jsCode":"const parsed = $('A: Parse delivery').first().json;\nconst orderRow = ($input.first().json && $input.first().json[0]) || null;\nconst orderId = orderRow?.id || null;\nreturn [{ json: { ...parsed, orderId, orderMatchFound: !!orderRow, clientNameFromDb: orderRow?.client_name || null } }];"},"id":"a-build-delivery","name":"A: Build delivery payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,80]},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ order_id: $json.orderId, destination: $json.address, status: 'pendiente', is_cash_on_delivery: $json.isCashOnDelivery, cash_to_collect_usd: $json.amountToCollect, notes: 'Origen: Dashboard WA · ' + ($json._src.pushName || '') }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"a-insert-delivery","name":"A: Insert delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,80],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363399646672357@g.us', text: '🧾 *_Plantilla de Servicios_*\\n\\n🏍️ *Servicio* : Delivery\\n\\n🛎️ *N° de Pedido:* #' + ($('A: Build delivery payload').first().json.orderNumber || '—') + '\\n\\n🅰️ *Punto de Retiro* : Prados del este, Calle la ceiba, 5ta Urupagua 80p*\\n\\n🅱️ *Punto de Entrega* : ' + ($('A: Build delivery payload').first().json.address || '—') + '\\n\\n📍 *Referencia*: —\\n\\n👤 *Nombre:* ' + ($('A: Build delivery payload').first().json.clientName || $('A: Build delivery payload').first().json.clientNameFromDb || '—') + '\\n\\n📱 *Tlf / Alternativo:* ' + ($('A: Build delivery payload').first().json.phone || '—') + '\\n\\n💰 *Vuelto a Recibir:* ' + ($('A: Build delivery payload').first().json.isCashOnDelivery ? ('Cobrar $' + $('A: Build delivery payload').first().json.amountToCollect) : '—') + '\\n\\n✅ *Está pago*: ' + ($('A: Build delivery payload').first().json.isPaid ? 'Sí' : 'No') }) }}","options":{}},"id":"a-send-pyp","name":"A: Send template to PyP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,80]},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Delivery #' + ($('A: Build delivery payload').first().json.orderNumber || '—') + ' registrado. Plantilla enviada a PyP.\\n🏍️ Esperando confirmación de motorizado...' + ($('A: Build delivery payload').first().json.orderMatchFound ? '' : '\\n⚠️ No encontré pedido en Supabase con ese número — guardado sin order_id.') }) }}","options":{}},"id":"a-confirm","name":"A: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,80]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?status=eq.pendiente&order=created_at.desc&limit=1&select=id,order_id,destination","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"b-find-pending","name":"B: Find latest pending","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"jsCode":"const rider = $('Route intent').first().json.detectedRider;\nconst rows = $input.first().json;\nconst row = Array.isArray(rows) ? rows[0] : null;\nif (!row) return [{ json: { noPending: true, rider } }];\nreturn [{ json: { id: row.id, order_id: row.order_id, destination: row.destination, rider } }];"},"id":"b-prep","name":"B: Prep update","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300]},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'asignado', rider_name: $json.rider }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"b-update","name":"B: Update delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '🏍️ Delivery asignado a ' + $('B: Prep update').first().json.rider + '. Destino: ' + ($('B: Prep update').first().json.destination || '—') + '. En camino.' }) }}","options":{}},"id":"b-notify","name":"B: Notify Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,300]},{"parameters":{"jsCode":"// Flow C parse: 'recibido $XX rider' | 'recibido $XX' | 'cobrado #XXXX $XX'\nconst t = $json.text;\nconst amountMatch = t.match(/\\$\\s*([\\d.,]+)/) || t.match(/\\b([\\d.,]+)\\b/);\nconst amount = amountMatch ? parseFloat(String(amountMatch[1]).replace(/,/g,'')) : null;\nconst orderMatch = t.match(/#(\\d+)/);\nconst words = t.toLowerCase().split(/\\s+/);\nconst KNOWN = ['bryant','robert','hector','omar','wilmer','luis','anderson','caldera','ostos','vargas','fabian','diego','johan','kevin','kelvin','abraham','oguir','leonel','ronald','jaider','riyeson','gustavo','marcos','daniela','larry','miguel','farfan','jhosty'];\nconst rider = words.find(w => KNOWN.includes(w.replace(/[^a-z]/g,''))) || null;\nreturn [{ json: { amount, rider: rider ? rider.replace(/[^a-z]/g,'') : null, orderNumber: orderMatch ? orderMatch[1] : null } }];"},"id":"c-parse","name":"C: Parse recibido","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,540]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?status=in.(asignado,en_ruta)&{{ $json.rider ? 'rider_name=eq.' + $json.rider + '&' : '' }}order=created_at.desc&limit=1&select=id,order_id,rider_name","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-find","name":"C: Find delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/deliveries?id=eq.{{ $json[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'cobrado', cash_collected: true, cash_collected_amount: $('C: Parse recibido').first().json.amount, delivered_at: new Date().toISOString() }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-update","name":"C: Update delivery","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ movement_type: 'ingreso', wallet: 'cash_usd', amount: $('C: Parse recibido').first().json.amount, amount_usd_equivalent: $('C: Parse recibido').first().json.amount, concept: 'Delivery cobrado - ' + ($('C: Parse recibido').first().json.rider || 'rider'), order_id: $('C: Update delivery').first().json[0]?.order_id || null }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"c-insert-cash","name":"C: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,540],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Recibido $' + $('C: Parse recibido').first().json.amount + ' de ' + ($('C: Parse recibido').first().json.rider || 'rider') + '. Delivery cerrado. Caja +$' + $('C: Parse recibido').first().json.amount + ' cash.' }) }}","options":{}},"id":"c-confirm","name":"C: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,540]},{"parameters":{"jsCode":"// Flow D parse: 'pagado #XXXX method $amt' or 'pagado #XXXX mixto cash $X zelle $Y'\nconst t = $json.text;\nconst orderMatch = t.match(/#(\\d+)/);\nconst orderNumber = orderMatch ? orderMatch[1] : null;\nconst lower = t.toLowerCase();\nconst isMixto = /\\bmixto\\b/.test(lower);\n\n// Find all method+amount pairs\nconst payments = [];\nconst re = /(cash|efectivo|zelle|bs|bolivares|bolívares|binance)\\s*\\$?\\s*([\\d.,]+)/gi;\nlet m;\nwhile ((m = re.exec(t)) !== null) {\n  let method = m[1].toLowerCase();\n  if (method === 'efectivo') method = 'cash';\n  if (method === 'bs' || method === 'bolivares' || method === 'bolívares') method = 'bolivares';\n  const amount = parseFloat(String(m[2]).replace(/,/g,''));\n  if (amount > 0) payments.push({ method, amount });\n}\n\nconst methodForOrder = payments.length === 1 ? payments[0].method : (isMixto ? 'mixto' : (payments[0]?.method || null));\nreturn [{ json: { orderNumber, payments, methodForOrder } }];"},"id":"d-parse","name":"D: Parse pagado","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,780]},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?or=(order_number.eq.{{ $json.orderNumber }},shopify_order_id.eq.{{ $json.orderNumber }})&select=id,exchange_rate&limit=1","sendHeaders":false,"options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-lookup","name":"D: Lookup order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?id=eq.{{ $json[0]?.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'confirmado', payment_method: $('D: Parse pagado').first().json.methodForOrder }) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-update-order","name":"D: Update order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(($('D: Parse pagado').first().json.payments || []).map(p => { const wallet = p.method === 'cash' ? 'cash_usd' : (p.method === 'zelle' ? 'zelle' : 'bolivares'); const orderRow = $('D: Lookup order').first().json[0]; const rate = orderRow?.exchange_rate || null; return { movement_type: 'ingreso', wallet, amount: p.amount, exchange_rate: rate, amount_usd_equivalent: wallet === 'bolivares' ? (rate ? Math.round(p.amount / rate * 100)/100 : null) : p.amount, concept: 'Pago pedido #' + $('D: Parse pagado').first().json.orderNumber, order_id: orderRow?.id || null }; })) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"d-insert-cash","name":"D: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,780],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"3FDA8BCBDDB0-46CB-8A37-423893D5424E"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: '✅ Pago #' + $('D: Parse pagado').first().json.orderNumber + ' registrado (' + $('D: Parse pagado').first().json.methodForOrder + '). Pedido confirmado. ' + ($('D: Parse pagado').first().json.payments.map(p => p.method + ' $' + p.amount).join(' · ')) }) }}","options":{}},"id":"d-confirm","name":"D: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,780]}],"connections":{"WA webhook":{"main":[[{"node":"Route intent","type":"main","index":0}]]},"Route intent":{"main":[[{"node":"Switch intent","type":"main","index":0}]]},"Switch intent":{"main":[[{"node":"A: Parse delivery","type":"main","index":0}],[{"node":"B: Find latest pending","type":"main","index":0}],[{"node":"C: Parse recibido","type":"main","index":0}],[{"node":"D: Parse pagado","type":"main","index":0}]]},"A: Parse delivery":{"main":[[{"node":"A: Lookup order","type":"main","index":0}]]},"A: Lookup order":{"main":[[{"node":"A: Build delivery payload","type":"main","index":0}]]},"A: Build delivery payload":{"main":[[{"node":"A: Insert delivery","type":"main","index":0}]]},"A: Insert delivery":{"main":[[{"node":"A: Send template to PyP","type":"main","index":0}]]},"A: Send template to PyP":{"main":[[{"node":"A: Confirm Dashboard","type":"main","index":0}]]},"B: Find latest pending":{"main":[[{"node":"B: Prep update","type":"main","index":0}]]},"B: Prep update":{"main":[[{"node":"B: Update delivery","type":"main","index":0}]]},"B: Update delivery":{"main":[[{"node":"B: Notify Dashboard","type":"main","index":0}]]},"C: Parse recibido":{"main":[[{"node":"C: Find delivery","type":"main","index":0}]]},"C: Find delivery":{"main":[[{"node":"C: Update delivery","type":"main","index":0}]]},"C: Update delivery":{"main":[[{"node":"C: Insert cash","type":"main","index":0}]]},"C: Insert cash":{"main":[[{"node":"C: Confirm Dashboard","type":"main","index":0}]]},"D: Parse pagado":{"main":[[{"node":"D: Lookup order","type":"main","index":0}]]},"D: Lookup order":{"main":[[{"node":"D: Update order","type":"main","index":0}]]},"D: Update order":{"main":[[{"node":"D: Insert cash","type":"main","index":0}]]},"D: Insert cash":{"main":[[{"node":"D: Confirm Dashboard","type":"main","index":0}]]}},"authors":"Aniello Rescigno","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-17T00:48:23.977Z","id":758,"workflowId":"X16QoSlg2WyXocbj","versionId":"932bb4fb-3df7-404b-aa16-183eaec074e5","event":"activated","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3"}]}}