n8n/workflows/07-evolution-fanout.json
{"updatedAt":"2026-04-17T21:38:31.487Z","createdAt":"2026-04-16T19:45:53.614Z","id":"ha7xPM5H4nMKHQSl","name":"Shadow iOS — 07 Evolution fanout","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"evo-prueba-fanout","responseMode":"onReceived","options":{}},"id":"webhook","name":"Evolution webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"evo-prueba-fanout"},{"parameters":{"method":"POST","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/primal-chatwoot-prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":10000,"response":{"response":{"neverError":true}}}},"id":"fwd-kira","name":"→ Kira","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,400]},{"parameters":{"method":"POST","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/shadow-ios-wa-listener","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":10000,"response":{"response":{"neverError":true}}}},"id":"fwd-shadow","name":"→ Shadow iOS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,520]},{"parameters":{"jsCode":"// Extract remoteJid, messageType, and group classification\nconst body = $json.body || $json;\nconst data = body.data || {};\nconst key = data.key || {};\nconst jid = key.remoteJid || '';\nconst isGroup = jid.endsWith('@g.us');\nconst messageType = data.messageType || '';\nconst isImage = messageType === 'imageMessage';\nconst fromMe = !!key.fromMe;\nconst isComprobantes = jid === '120363409525696846@g.us';\nreturn [{ json: { ...body, _isGroup: isGroup, _jid: jid, _isImage: isImage, _fromMe: fromMe, _isComprobantes: isComprobantes } }];"},"id":"classify-source","name":"Classify","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-group","leftValue":"={{ $json._isGroup }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-is-group","name":"Is group?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,300]},{"parameters":{"method":"POST","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/shadow-ios-wa-listener","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":10000,"response":{"response":{"neverError":true}}}},"id":"shadow-groups","name":"Shadow iOS (groups)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-image","leftValue":"={{ $json._isImage }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"name":"Is image?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,500],"id":"9ea02373-0ec6-4961-9a66-0ae90eb84010"},{"parameters":{"jsCode":"// Extract image base64 and sender info\nconst data = $json.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\nconst base64 = msg.base64 || msg.imageMessage?.base64 || '';\nif (!base64 || base64.length < 100) throw new Error('No image data');\nconst rawPhone = (key.remoteJid || '').replace('@s.whatsapp.net', '');\nreturn [{ json: { base64, phone: rawPhone, pushName: data.pushName || '', caption: msg.imageMessage?.caption || '' } }];"},"name":"Z: Extract image","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,600],"id":"1a574401-6530-472d-9387-1fb02eddab7c"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"gpt-4o-mini\", max_tokens: 500, messages: [{ role: \"user\", content: [{ type: \"image_url\", image_url: { url: \"data:image/jpeg;base64,\" + $json.base64.substring(0, 500000), detail: \"low\" } }, { type: \"text\", text: \"Is this a Zelle payment receipt? If YES extract: amount (number), reference, date, sender name. Respond JSON ONLY: {\\\"is_zelle\\\": true, \\\"amount\\\": 45, \\\"reference\\\": \\\"ABC123\\\", \\\"date\\\": \\\"2026-04-17\\\", \\\"sender_name\\\": \\\"John\\\"}. If NOT: {\\\"is_zelle\\\": false}\" }] }] }) }}","options":{"timeout":30000}},"name":"Z: GPT Vision","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,600],"id":"c732e137-a5f0-4780-a9a0-958f2818d8e9","credentials":{"openAiApi":{"id":"sQmAvby8rLOnB3r6","name":"OpenAi account"}}},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?client_phone=like.*{{ $json.phone.slice(-10) }}&status=in.(pendiente_pago,confirmado)&order=created_at.desc&limit=1&select=id,order_number,client_name,client_phone,status,total_usd","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":false,"options":{}},"name":"Z: Find order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,600],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"c12d123b-ea0c-470b-abe9-5be22cdd3d48"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: $('Z: Build payload').first().json.dashMsg }) }}","options":{}},"name":"Z: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,600],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"588330ec-1a67-4143-a470-e299eeb9acab"},{"parameters":{"jsCode":"// Parse GPT Vision response - check if Zelle\nconst gptRaw = $json.choices?.[0]?.message?.content || '';\nconst imgData = $('Z: Extract image').first().json;\nlet parsed;\ntry {\n  const clean = gptRaw.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n  parsed = JSON.parse(clean);\n} catch(e) { throw new Error(\"NOT_ZELLE\"); }\n\nif (!parsed.is_zelle) throw new Error(\"NOT_ZELLE\");\nif (!parsed.amount || parsed.amount <= 0) throw new Error(\"No amount\");\n\nreturn [{ json: {\n  amount: parsed.amount,\n  reference: parsed.reference || \"sin-ref\",\n  date: parsed.date || new Date().toISOString().split(\"T\")[0],\n  senderName: parsed.sender_name || \"\",\n  phone: imgData.phone,\n  pushName: imgData.pushName\n}}];"},"name":"Z: Check Zelle","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,600],"id":"296e5f3a-1220-4554-bdf2-8bdd92180b58"},{"parameters":{"jsCode":"// Build cash_movement and dashboard msg\nconst parsed = $('Z: Check Zelle').first().json;\nconst orderResult = $('Z: Find order').first().json;\nconst order = Array.isArray(orderResult) ? orderResult[0] : orderResult;\nconst hasOrder = !!(order && order.id);\n\nconst cashBody = {\n  movement_type: 'ingreso', wallet: 'zelle',\n  amount: parsed.amount, amount_usd_equivalent: parsed.amount,\n  concept: 'Zelle ' + (hasOrder ? '#' + order.order_number : 'sin pedido') + ' - ' + (parsed.senderName || parsed.pushName || 'cliente') + (parsed.reference !== 'sin-ref' ? ' ref:' + parsed.reference : ''),\n  order_id: hasOrder ? order.id : null\n};\n\nlet dashMsg = '\\u2705 Zelle $' + parsed.amount;\nif (hasOrder) dashMsg += ' ' + (order.client_name || parsed.pushName) + ' #' + order.order_number + ' \\u2014 registrado.';\nelse dashMsg += ' ' + (parsed.pushName || 'cliente') + ' (tel: ' + parsed.phone + ') \\u2014 registrado. \\u26a0\\ufe0f Sin pedido pendiente.';\n\nreturn [{ json: { cashBody, dashMsg, hasOrder, orderId: hasOrder ? order.id : null, amount: parsed.amount } }];"},"name":"Z: Build payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,600],"id":"b20824b9-4a06-488f-b766-6ad6f38afe5b"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.cashBody) }}","options":{}},"name":"Z: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,600],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"6fa175c9-a4c0-431c-b33e-f2eb3627b00d"},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?id=eq.{{ $('Z: Build payload').first().json.orderId }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'confirmado', payment_method: 'zelle', amount_paid_usd: $('Z: Build payload').first().json.amount }) }}","options":{}},"name":"Z: Update order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,600],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"onError":"continueRegularOutput","id":"a5a9bbb8-434b-4390-ad2d-0ee66338eb7a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-comp","leftValue":"={{ $json._isComprobantes && $json._isImage }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"name":"Is comprobantes?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[780,200],"id":"8e2040cf-7d8e-4101-a2e7-8996efe0c130"},{"parameters":{"jsCode":"// Extract image from group comprobantes message\nconst data = $json.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\nconst base64 = msg.base64 || msg.imageMessage?.base64 || '';\nif (!base64 || base64.length < 100) throw new Error('No image data');\nconst participant = key.participant || key.participantAlt || '';\nconst phone = participant.replace('@s.whatsapp.net', '').replace(/@lid$/, '');\nconst caption = msg.imageMessage?.caption || '';\nreturn [{ json: { base64, phone, pushName: data.pushName || '', caption, sourceGroup: 'comprobantes' } }];"},"name":"C: Extract image","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,900],"id":"e614e39e-52b0-4121-adad-5ced66fe1b24"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"gpt-4o-mini\", max_tokens: 600, messages: [{ role: \"user\", content: [{ type: \"image_url\", image_url: { url: \"data:image/jpeg;base64,\" + $json.base64.substring(0, 500000), detail: \"low\" } }, { type: \"text\", text: \"Analyze this payment receipt image. Determine the payment type and extract details.\\n\\nPayment types to detect:\\n1. ZELLE - US bank transfer (look for Zelle logo, confirmation number, USD amount)\\n2. PAGO_MOVIL - Venezuelan mobile payment (look for banco, cedula, referencia, monto in Bs)\\n3. BINANCE - Crypto payment (look for Binance logo, USDT, order ID)\\n4. TRANSFERENCIA - Venezuelan bank transfer (look for banco, referencia, monto in Bs)\\n\\nRespond with JSON ONLY, no markdown:\\n{\\\"payment_type\\\": \\\"zelle|pago_movil|binance|transferencia|unknown\\\", \\\"amount\\\": number, \\\"currency\\\": \\\"USD|BS|USDT\\\", \\\"reference\\\": \\\"string or null\\\", \\\"date\\\": \\\"YYYY-MM-DD or null\\\", \\\"sender_name\\\": \\\"string or null\\\", \\\"bank\\\": \\\"string or null\\\"}\\n\\nIf not a payment receipt: {\\\"payment_type\\\": \\\"unknown\\\"}\" }] }] }) }}","options":{"timeout":30000}},"name":"C: GPT Vision","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,900],"credentials":{"openAiApi":{"id":"sQmAvby8rLOnB3r6","name":"OpenAi account"}},"id":"d1db3c29-f9df-4ab2-b64a-f3925d812a66"},{"parameters":{"jsCode":"// Parse GPT Vision response for any payment type\nconst gptRaw = $json.choices?.[0]?.message?.content || '';\nconst imgData = $('C: Extract image').first().json;\n\nlet parsed;\ntry {\n  const clean = gptRaw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) { throw new Error('NOT_PAYMENT'); }\n\nif (!parsed.payment_type || parsed.payment_type === 'unknown') throw new Error('NOT_PAYMENT');\nif (!parsed.amount || parsed.amount <= 0) throw new Error('No amount extracted');\n\n// Map payment_type to wallet\nconst walletMap = {\n  'zelle': 'zelle',\n  'pago_movil': 'bolivares',\n  'transferencia': 'bolivares',\n  'binance': 'binance'\n};\nconst wallet = walletMap[parsed.payment_type] || 'zelle';\n\n// Map to display names\nconst typeNames = {\n  'zelle': 'Zelle',\n  'pago_movil': 'Pago Movil',\n  'transferencia': 'Transferencia',\n  'binance': 'Binance'\n};\nconst typeName = typeNames[parsed.payment_type] || parsed.payment_type;\n\n// For bolivares, amount is in Bs — USD equivalent needs rate\nconst currency = parsed.currency || (wallet === 'bolivares' ? 'BS' : 'USD');\n\nreturn [{ json: {\n  paymentType: parsed.payment_type,\n  typeName,\n  wallet,\n  amount: parsed.amount,\n  currency,\n  reference: parsed.reference || 'sin-ref',\n  date: parsed.date || new Date().toISOString().split('T')[0],\n  senderName: parsed.sender_name || '',\n  bank: parsed.bank || '',\n  phone: imgData.phone,\n  pushName: imgData.pushName,\n  caption: imgData.caption\n}}];"},"name":"C: Parse receipt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,900],"id":"78cf78b0-2435-4974-84b6-7df09b94f92e"},{"parameters":{"method":"GET","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/rate","authentication":"none","options":{}},"name":"C: Fetch rate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,900],"id":"d59d360c-8ad0-496e-a85a-676574a47ffb"},{"parameters":{"jsCode":"// Build cash_movement body and dashboard message\nconst parsed = $('C: Parse receipt').first().json;\nconst rate = $('C: Fetch rate').first().json.Bs || 1;\n\nlet amount = parsed.amount;\nlet amountUsdEq = parsed.amount;\n\n// If currency is BS, convert to USD equivalent\nif (parsed.currency === 'BS') {\n  amountUsdEq = Math.round((amount / rate) * 100) / 100;\n}\n\nconst cashBody = {\n  movement_type: 'ingreso',\n  wallet: parsed.wallet,\n  amount: amount,\n  exchange_rate: rate,\n  amount_usd_equivalent: amountUsdEq,\n  concept: parsed.typeName + ' - ' + (parsed.senderName || parsed.pushName || 'cliente') + (parsed.reference !== 'sin-ref' ? ' ref:' + parsed.reference : '') + (parsed.bank ? ' (' + parsed.bank + ')' : '')\n};\n\n// Build dashboard confirmation\nlet dashMsg = '\\u2705 ' + parsed.typeName;\nif (parsed.currency === 'BS') {\n  dashMsg += ' Bs ' + amount.toLocaleString() + ' (~$' + amountUsdEq + ')';\n} else {\n  dashMsg += ' $' + amount;\n}\ndashMsg += ' de ' + (parsed.senderName || parsed.pushName || 'cliente');\nif (parsed.reference !== 'sin-ref') dashMsg += ' ref:' + parsed.reference;\ndashMsg += ' \\u2014 registrado.';\n\nreturn [{ json: { cashBody, dashMsg } }];"},"name":"C: Build payment","type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,900],"id":"db8d157b-cb94-4f24-93df-8fbbb88e3fd1"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.cashBody) }}","options":{}},"name":"C: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,900],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"03f64d21-6ed4-457e-8303-dd1891222f2b"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: $('C: Build payment').first().json.dashMsg }) }}","options":{}},"name":"C: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,900],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"5035fce6-105e-494f-9b9e-b9367fd5a1cc"}],"connections":{"Evolution webhook":{"main":[[{"node":"Classify","type":"main","index":0}]]},"Classify":{"main":[[{"node":"Is group?","type":"main","index":0}]]},"Is group?":{"main":[[{"node":"Is comprobantes?","type":"main","index":0}],[{"node":"Is image?","type":"main","index":0}]]},"Is image?":{"main":[[{"node":"Z: Extract image","type":"main","index":0},{"node":"→ Kira","type":"main","index":0}],[{"node":"→ Kira","type":"main","index":0},{"node":"→ Shadow iOS","type":"main","index":0}]]},"Z: Extract image":{"main":[[{"node":"Z: GPT Vision","type":"main","index":0}]]},"Z: GPT Vision":{"main":[[{"node":"Z: Check Zelle","type":"main","index":0}]]},"Z: Find order":{"main":[[{"node":"Z: Build payload","type":"main","index":0}]]},"Z: Check Zelle":{"main":[[{"node":"Z: Find order","type":"main","index":0}]]},"Z: Build payload":{"main":[[{"node":"Z: Insert cash","type":"main","index":0}]]},"Z: Insert cash":{"main":[[{"node":"Z: Update order","type":"main","index":0}]]},"Z: Update order":{"main":[[{"node":"Z: Confirm Dashboard","type":"main","index":0}]]},"Is comprobantes?":{"main":[[{"node":"C: Extract image","type":"main","index":0}],[{"node":"Shadow iOS (groups)","type":"main","index":0}]]},"C: Extract image":{"main":[[{"node":"C: GPT Vision","type":"main","index":0}]]},"C: GPT Vision":{"main":[[{"node":"C: Parse receipt","type":"main","index":0}]]},"C: Parse receipt":{"main":[[{"node":"C: Fetch rate","type":"main","index":0}]]},"C: Fetch rate":{"main":[[{"node":"C: Build payment","type":"main","index":0}]]},"C: Build payment":{"main":[[{"node":"C: Insert cash","type":"main","index":0}]]},"C: Insert cash":{"main":[[{"node":"C: Confirm Dashboard","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"39d8ddca-fb01-4443-8f36-866ef49b95ed","activeVersionId":"39d8ddca-fb01-4443-8f36-866ef49b95ed","versionCounter":34,"triggerCount":1,"shared":[{"updatedAt":"2026-04-16T19:45:53.619Z","createdAt":"2026-04-16T19:45:53.619Z","role":"workflow:owner","workflowId":"ha7xPM5H4nMKHQSl","projectId":"NJ3rjcCVeDHPF7sa","project":{"updatedAt":"2025-11-03T14:48:00.044Z","createdAt":"2025-11-03T14:41:36.663Z","id":"NJ3rjcCVeDHPF7sa","name":"Aniello Rescigno <rescignoaniello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectRelations":[{"updatedAt":"2025-11-03T14:41:36.664Z","createdAt":"2025-11-03T14:41:36.664Z","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectId":"NJ3rjcCVeDHPF7sa","user":{"updatedAt":"2026-04-17T16:04:22.000Z","createdAt":"2025-11-03T14:41:35.993Z","id":"448be12a-ad32-4dc2-85c1-be8439daf6a3","email":"rescignoaniello@gmail.com","firstName":"Aniello","lastName":"Rescigno","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-03T14:48:19.853Z","personalization_survey_n8n_version":"1.103.2","companySize":"personalUser","companyType":"ecommerce","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"DYUtIYpfTjv9nnRK","userActivatedAt":1762197033728,"npsSurvey":{"responded":true,"lastShownAt":1770322564226},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-17","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-17T21:38:31.490Z","createdAt":"2026-04-17T21:38:31.490Z","versionId":"39d8ddca-fb01-4443-8f36-866ef49b95ed","workflowId":"ha7xPM5H4nMKHQSl","nodes":[{"parameters":{"httpMethod":"POST","path":"evo-prueba-fanout","responseMode":"onReceived","options":{}},"id":"webhook","name":"Evolution webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"evo-prueba-fanout"},{"parameters":{"method":"POST","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/primal-chatwoot-prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":10000,"response":{"response":{"neverError":true}}}},"id":"fwd-kira","name":"→ Kira","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,400]},{"parameters":{"method":"POST","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/shadow-ios-wa-listener","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":10000,"response":{"response":{"neverError":true}}}},"id":"fwd-shadow","name":"→ Shadow iOS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,520]},{"parameters":{"jsCode":"// Extract remoteJid, messageType, and group classification\nconst body = $json.body || $json;\nconst data = body.data || {};\nconst key = data.key || {};\nconst jid = key.remoteJid || '';\nconst isGroup = jid.endsWith('@g.us');\nconst messageType = data.messageType || '';\nconst isImage = messageType === 'imageMessage';\nconst fromMe = !!key.fromMe;\nconst isComprobantes = jid === '120363409525696846@g.us';\nreturn [{ json: { ...body, _isGroup: isGroup, _jid: jid, _isImage: isImage, _fromMe: fromMe, _isComprobantes: isComprobantes } }];"},"id":"classify-source","name":"Classify","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-group","leftValue":"={{ $json._isGroup }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-is-group","name":"Is group?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,300]},{"parameters":{"method":"POST","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/shadow-ios-wa-listener","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":10000,"response":{"response":{"neverError":true}}}},"id":"shadow-groups","name":"Shadow iOS (groups)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-image","leftValue":"={{ $json._isImage }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"name":"Is image?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,500],"id":"9ea02373-0ec6-4961-9a66-0ae90eb84010"},{"parameters":{"jsCode":"// Extract image base64 and sender info\nconst data = $json.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\nconst base64 = msg.base64 || msg.imageMessage?.base64 || '';\nif (!base64 || base64.length < 100) throw new Error('No image data');\nconst rawPhone = (key.remoteJid || '').replace('@s.whatsapp.net', '');\nreturn [{ json: { base64, phone: rawPhone, pushName: data.pushName || '', caption: msg.imageMessage?.caption || '' } }];"},"name":"Z: Extract image","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,600],"id":"1a574401-6530-472d-9387-1fb02eddab7c"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"gpt-4o-mini\", max_tokens: 500, messages: [{ role: \"user\", content: [{ type: \"image_url\", image_url: { url: \"data:image/jpeg;base64,\" + $json.base64.substring(0, 500000), detail: \"low\" } }, { type: \"text\", text: \"Is this a Zelle payment receipt? If YES extract: amount (number), reference, date, sender name. Respond JSON ONLY: {\\\"is_zelle\\\": true, \\\"amount\\\": 45, \\\"reference\\\": \\\"ABC123\\\", \\\"date\\\": \\\"2026-04-17\\\", \\\"sender_name\\\": \\\"John\\\"}. If NOT: {\\\"is_zelle\\\": false}\" }] }] }) }}","options":{"timeout":30000}},"name":"Z: GPT Vision","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,600],"id":"c732e137-a5f0-4780-a9a0-958f2818d8e9","credentials":{"openAiApi":{"id":"sQmAvby8rLOnB3r6","name":"OpenAi account"}}},{"parameters":{"method":"GET","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?client_phone=like.*{{ $json.phone.slice(-10) }}&status=in.(pendiente_pago,confirmado)&order=created_at.desc&limit=1&select=id,order_number,client_name,client_phone,status,total_usd","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":false,"options":{}},"name":"Z: Find order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,600],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"c12d123b-ea0c-470b-abe9-5be22cdd3d48"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: $('Z: Build payload').first().json.dashMsg }) }}","options":{}},"name":"Z: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,600],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"588330ec-1a67-4143-a470-e299eeb9acab"},{"parameters":{"jsCode":"// Parse GPT Vision response - check if Zelle\nconst gptRaw = $json.choices?.[0]?.message?.content || '';\nconst imgData = $('Z: Extract image').first().json;\nlet parsed;\ntry {\n  const clean = gptRaw.replace(/```json\\n?/g, \"\").replace(/```\\n?/g, \"\").trim();\n  parsed = JSON.parse(clean);\n} catch(e) { throw new Error(\"NOT_ZELLE\"); }\n\nif (!parsed.is_zelle) throw new Error(\"NOT_ZELLE\");\nif (!parsed.amount || parsed.amount <= 0) throw new Error(\"No amount\");\n\nreturn [{ json: {\n  amount: parsed.amount,\n  reference: parsed.reference || \"sin-ref\",\n  date: parsed.date || new Date().toISOString().split(\"T\")[0],\n  senderName: parsed.sender_name || \"\",\n  phone: imgData.phone,\n  pushName: imgData.pushName\n}}];"},"name":"Z: Check Zelle","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,600],"id":"296e5f3a-1220-4554-bdf2-8bdd92180b58"},{"parameters":{"jsCode":"// Build cash_movement and dashboard msg\nconst parsed = $('Z: Check Zelle').first().json;\nconst orderResult = $('Z: Find order').first().json;\nconst order = Array.isArray(orderResult) ? orderResult[0] : orderResult;\nconst hasOrder = !!(order && order.id);\n\nconst cashBody = {\n  movement_type: 'ingreso', wallet: 'zelle',\n  amount: parsed.amount, amount_usd_equivalent: parsed.amount,\n  concept: 'Zelle ' + (hasOrder ? '#' + order.order_number : 'sin pedido') + ' - ' + (parsed.senderName || parsed.pushName || 'cliente') + (parsed.reference !== 'sin-ref' ? ' ref:' + parsed.reference : ''),\n  order_id: hasOrder ? order.id : null\n};\n\nlet dashMsg = '\\u2705 Zelle $' + parsed.amount;\nif (hasOrder) dashMsg += ' ' + (order.client_name || parsed.pushName) + ' #' + order.order_number + ' \\u2014 registrado.';\nelse dashMsg += ' ' + (parsed.pushName || 'cliente') + ' (tel: ' + parsed.phone + ') \\u2014 registrado. \\u26a0\\ufe0f Sin pedido pendiente.';\n\nreturn [{ json: { cashBody, dashMsg, hasOrder, orderId: hasOrder ? order.id : null, amount: parsed.amount } }];"},"name":"Z: Build payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,600],"id":"b20824b9-4a06-488f-b766-6ad6f38afe5b"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.cashBody) }}","options":{}},"name":"Z: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,600],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"6fa175c9-a4c0-431c-b33e-f2eb3627b00d"},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?id=eq.{{ $('Z: Build payload').first().json.orderId }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: 'confirmado', payment_method: 'zelle', amount_paid_usd: $('Z: Build payload').first().json.amount }) }}","options":{}},"name":"Z: Update order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,600],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"onError":"continueRegularOutput","id":"a5a9bbb8-434b-4390-ad2d-0ee66338eb7a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-comp","leftValue":"={{ $json._isComprobantes && $json._isImage }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"name":"Is comprobantes?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[780,200],"id":"8e2040cf-7d8e-4101-a2e7-8996efe0c130"},{"parameters":{"jsCode":"// Extract image from group comprobantes message\nconst data = $json.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\nconst base64 = msg.base64 || msg.imageMessage?.base64 || '';\nif (!base64 || base64.length < 100) throw new Error('No image data');\nconst participant = key.participant || key.participantAlt || '';\nconst phone = participant.replace('@s.whatsapp.net', '').replace(/@lid$/, '');\nconst caption = msg.imageMessage?.caption || '';\nreturn [{ json: { base64, phone, pushName: data.pushName || '', caption, sourceGroup: 'comprobantes' } }];"},"name":"C: Extract image","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,900],"id":"e614e39e-52b0-4121-adad-5ced66fe1b24"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"gpt-4o-mini\", max_tokens: 600, messages: [{ role: \"user\", content: [{ type: \"image_url\", image_url: { url: \"data:image/jpeg;base64,\" + $json.base64.substring(0, 500000), detail: \"low\" } }, { type: \"text\", text: \"Analyze this payment receipt image. Determine the payment type and extract details.\\n\\nPayment types to detect:\\n1. ZELLE - US bank transfer (look for Zelle logo, confirmation number, USD amount)\\n2. PAGO_MOVIL - Venezuelan mobile payment (look for banco, cedula, referencia, monto in Bs)\\n3. BINANCE - Crypto payment (look for Binance logo, USDT, order ID)\\n4. TRANSFERENCIA - Venezuelan bank transfer (look for banco, referencia, monto in Bs)\\n\\nRespond with JSON ONLY, no markdown:\\n{\\\"payment_type\\\": \\\"zelle|pago_movil|binance|transferencia|unknown\\\", \\\"amount\\\": number, \\\"currency\\\": \\\"USD|BS|USDT\\\", \\\"reference\\\": \\\"string or null\\\", \\\"date\\\": \\\"YYYY-MM-DD or null\\\", \\\"sender_name\\\": \\\"string or null\\\", \\\"bank\\\": \\\"string or null\\\"}\\n\\nIf not a payment receipt: {\\\"payment_type\\\": \\\"unknown\\\"}\" }] }] }) }}","options":{"timeout":30000}},"name":"C: GPT Vision","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,900],"credentials":{"openAiApi":{"id":"sQmAvby8rLOnB3r6","name":"OpenAi account"}},"id":"d1db3c29-f9df-4ab2-b64a-f3925d812a66"},{"parameters":{"jsCode":"// Parse GPT Vision response for any payment type\nconst gptRaw = $json.choices?.[0]?.message?.content || '';\nconst imgData = $('C: Extract image').first().json;\n\nlet parsed;\ntry {\n  const clean = gptRaw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) { throw new Error('NOT_PAYMENT'); }\n\nif (!parsed.payment_type || parsed.payment_type === 'unknown') throw new Error('NOT_PAYMENT');\nif (!parsed.amount || parsed.amount <= 0) throw new Error('No amount extracted');\n\n// Map payment_type to wallet\nconst walletMap = {\n  'zelle': 'zelle',\n  'pago_movil': 'bolivares',\n  'transferencia': 'bolivares',\n  'binance': 'binance'\n};\nconst wallet = walletMap[parsed.payment_type] || 'zelle';\n\n// Map to display names\nconst typeNames = {\n  'zelle': 'Zelle',\n  'pago_movil': 'Pago Movil',\n  'transferencia': 'Transferencia',\n  'binance': 'Binance'\n};\nconst typeName = typeNames[parsed.payment_type] || parsed.payment_type;\n\n// For bolivares, amount is in Bs — USD equivalent needs rate\nconst currency = parsed.currency || (wallet === 'bolivares' ? 'BS' : 'USD');\n\nreturn [{ json: {\n  paymentType: parsed.payment_type,\n  typeName,\n  wallet,\n  amount: parsed.amount,\n  currency,\n  reference: parsed.reference || 'sin-ref',\n  date: parsed.date || new Date().toISOString().split('T')[0],\n  senderName: parsed.sender_name || '',\n  bank: parsed.bank || '',\n  phone: imgData.phone,\n  pushName: imgData.pushName,\n  caption: imgData.caption\n}}];"},"name":"C: Parse receipt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,900],"id":"78cf78b0-2435-4974-84b6-7df09b94f92e"},{"parameters":{"method":"GET","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/rate","authentication":"none","options":{}},"name":"C: Fetch rate","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,900],"id":"d59d360c-8ad0-496e-a85a-676574a47ffb"},{"parameters":{"jsCode":"// Build cash_movement body and dashboard message\nconst parsed = $('C: Parse receipt').first().json;\nconst rate = $('C: Fetch rate').first().json.Bs || 1;\n\nlet amount = parsed.amount;\nlet amountUsdEq = parsed.amount;\n\n// If currency is BS, convert to USD equivalent\nif (parsed.currency === 'BS') {\n  amountUsdEq = Math.round((amount / rate) * 100) / 100;\n}\n\nconst cashBody = {\n  movement_type: 'ingreso',\n  wallet: parsed.wallet,\n  amount: amount,\n  exchange_rate: rate,\n  amount_usd_equivalent: amountUsdEq,\n  concept: parsed.typeName + ' - ' + (parsed.senderName || parsed.pushName || 'cliente') + (parsed.reference !== 'sin-ref' ? ' ref:' + parsed.reference : '') + (parsed.bank ? ' (' + parsed.bank + ')' : '')\n};\n\n// Build dashboard confirmation\nlet dashMsg = '\\u2705 ' + parsed.typeName;\nif (parsed.currency === 'BS') {\n  dashMsg += ' Bs ' + amount.toLocaleString() + ' (~$' + amountUsdEq + ')';\n} else {\n  dashMsg += ' $' + amount;\n}\ndashMsg += ' de ' + (parsed.senderName || parsed.pushName || 'cliente');\nif (parsed.reference !== 'sin-ref') dashMsg += ' ref:' + parsed.reference;\ndashMsg += ' \\u2014 registrado.';\n\nreturn [{ json: { cashBody, dashMsg } }];"},"name":"C: Build payment","type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,900],"id":"db8d157b-cb94-4f24-93df-8fbbb88e3fd1"},{"parameters":{"method":"POST","url":"https://bkrijdevtickjknvocyj.supabase.co/rest/v1/cash_movements","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.cashBody) }}","options":{}},"name":"C: Insert cash","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,900],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase Shadow iOS"}},"id":"03f64d21-6ed4-457e-8303-dd1891222f2b"},{"parameters":{"method":"POST","url":"https://personal-evolution-api.op5yfu.easypanel.host/message/sendText/prueba","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: '120363427557786772@g.us', text: $('C: Build payment').first().json.dashMsg }) }}","options":{}},"name":"C: Confirm Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,900],"credentials":{"evolutionApi":{"id":"vabu5FHInLG8vGmD","name":"Evolution account"}},"id":"5035fce6-105e-494f-9b9e-b9367fd5a1cc"}],"connections":{"Evolution webhook":{"main":[[{"node":"Classify","type":"main","index":0}]]},"Classify":{"main":[[{"node":"Is group?","type":"main","index":0}]]},"Is group?":{"main":[[{"node":"Is comprobantes?","type":"main","index":0}],[{"node":"Is image?","type":"main","index":0}]]},"Is image?":{"main":[[{"node":"Z: Extract image","type":"main","index":0},{"node":"→ Kira","type":"main","index":0}],[{"node":"→ Kira","type":"main","index":0},{"node":"→ Shadow iOS","type":"main","index":0}]]},"Z: Extract image":{"main":[[{"node":"Z: GPT Vision","type":"main","index":0}]]},"Z: GPT Vision":{"main":[[{"node":"Z: Check Zelle","type":"main","index":0}]]},"Z: Find order":{"main":[[{"node":"Z: Build payload","type":"main","index":0}]]},"Z: Check Zelle":{"main":[[{"node":"Z: Find order","type":"main","index":0}]]},"Z: Build payload":{"main":[[{"node":"Z: Insert cash","type":"main","index":0}]]},"Z: Insert cash":{"main":[[{"node":"Z: Update order","type":"main","index":0}]]},"Z: Update order":{"main":[[{"node":"Z: Confirm Dashboard","type":"main","index":0}]]},"Is comprobantes?":{"main":[[{"node":"C: Extract image","type":"main","index":0}],[{"node":"Shadow iOS (groups)","type":"main","index":0}]]},"C: Extract image":{"main":[[{"node":"C: GPT Vision","type":"main","index":0}]]},"C: GPT Vision":{"main":[[{"node":"C: Parse receipt","type":"main","index":0}]]},"C: Parse receipt":{"main":[[{"node":"C: Fetch rate","type":"main","index":0}]]},"C: Fetch rate":{"main":[[{"node":"C: Build payment","type":"main","index":0}]]},"C: Build payment":{"main":[[{"node":"C: Insert cash","type":"main","index":0}]]},"C: Insert cash":{"main":[[{"node":"C: Confirm Dashboard","type":"main","index":0}]]}},"authors":"Aniello Rescigno","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-17T21:38:31.604Z","id":798,"workflowId":"ha7xPM5H4nMKHQSl","versionId":"39d8ddca-fb01-4443-8f36-866ef49b95ed","event":"activated","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3"}]}}