n8n/workflows/07_evolution_fanout.json
{"updatedAt":"2026-04-16T19:45:53.614Z","createdAt":"2026-04-16T19:45:53.614Z","id":"ha7xPM5H4nMKHQSl","name":"Shadow iOS — 07 Evolution fanout","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"evo-prueba-fanout","responseMode":"onReceived","options":{}},"id":"webhook","name":"Evolution webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"evo-prueba-fanout"},{"parameters":{"method":"POST","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/primal-chatwoot-prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":10000,"response":{"response":{"neverError":true}}}},"id":"fwd-kira","name":"→ Kira","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,220]},{"parameters":{"method":"POST","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/shadow-ios-wa-listener","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":10000,"response":{"response":{"neverError":true}}}},"id":"fwd-shadow","name":"→ Shadow iOS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,380]}],"connections":{"Evolution webhook":{"main":[[{"node":"→ Kira","type":"main","index":0},{"node":"→ Shadow iOS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"daba73a7-f6e1-4df8-ac2e-79f1032adc85","activeVersionId":"daba73a7-f6e1-4df8-ac2e-79f1032adc85","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-04-16T19:45:53.619Z","createdAt":"2026-04-16T19:45:53.619Z","role":"workflow:owner","workflowId":"ha7xPM5H4nMKHQSl","projectId":"NJ3rjcCVeDHPF7sa","project":{"updatedAt":"2025-11-03T14:48:00.044Z","createdAt":"2025-11-03T14:41:36.663Z","id":"NJ3rjcCVeDHPF7sa","name":"Aniello Rescigno <rescignoaniello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectRelations":[{"updatedAt":"2025-11-03T14:41:36.664Z","createdAt":"2025-11-03T14:41:36.664Z","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectId":"NJ3rjcCVeDHPF7sa","user":{"updatedAt":"2026-04-16T19:05:24.000Z","createdAt":"2025-11-03T14:41:35.993Z","id":"448be12a-ad32-4dc2-85c1-be8439daf6a3","email":"rescignoaniello@gmail.com","firstName":"Aniello","lastName":"Rescigno","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-03T14:48:19.853Z","personalization_survey_n8n_version":"1.103.2","companySize":"personalUser","companyType":"ecommerce","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"DYUtIYpfTjv9nnRK","userActivatedAt":1762197033728,"npsSurvey":{"responded":true,"lastShownAt":1770322564226},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-16T19:45:53.630Z","createdAt":"2026-04-16T19:45:53.630Z","versionId":"daba73a7-f6e1-4df8-ac2e-79f1032adc85","workflowId":"ha7xPM5H4nMKHQSl","nodes":[{"parameters":{"httpMethod":"POST","path":"evo-prueba-fanout","responseMode":"onReceived","options":{}},"id":"webhook","name":"Evolution webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"evo-prueba-fanout"},{"parameters":{"method":"POST","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/primal-chatwoot-prueba","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":10000,"response":{"response":{"neverError":true}}}},"id":"fwd-kira","name":"→ Kira","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,220]},{"parameters":{"method":"POST","url":"https://prueba-n8n.op5yfu.easypanel.host/webhook/shadow-ios-wa-listener","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.body || $json) }}","options":{"timeout":10000,"response":{"response":{"neverError":true}}}},"id":"fwd-shadow","name":"→ Shadow iOS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,380]}],"connections":{"Evolution webhook":{"main":[[{"node":"→ Kira","type":"main","index":0},{"node":"→ Shadow iOS","type":"main","index":0}]]}},"authors":"Aniello Rescigno","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-16T19:45:55.846Z","id":735,"workflowId":"ha7xPM5H4nMKHQSl","versionId":"daba73a7-f6e1-4df8-ac2e-79f1032adc85","event":"activated","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3"}]}}