n8n/workflows/08_shopify_order_updated.json
{"updatedAt":"2026-04-17T00:46:11.787Z","createdAt":"2026-04-16T21:58:53.525Z","id":"4FYpMkhhMkXw1PEo","name":"Shadow iOS — 08 Shopify order updated","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"authentication":"oAuth2","topic":"orders/updated"},"id":"trigger-shopify","name":"Shopify: Order Updated","type":"n8n-nodes-base.shopifyTrigger","typeVersion":1,"position":[240,300],"credentials":{"shopifyOAuth2Api":{"id":"hkN5bDuOp689jPuQ","name":"Shopify-Primal-Access Token account"}},"webhookId":"shadow-ios-shopify-order-updated"},{"parameters":{"jsCode":"const order = $input.first().json;\nconst cust = order.customer || {};\nconst ship = order.shipping_address || order.billing_address || {};\nconst clientName = [cust.first_name, cust.last_name].filter(Boolean).join(' ').trim() || ship.name || null;\nconst clientPhone = (cust.phone || ship.phone || order.phone || '').replace(/\\s+/g,'') || null;\nconst clientCity = ship.city || null;\n\nconst financial = (order.financial_status || '').toLowerCase();\nconst fulfillment = (order.fulfillment_status || '').toLowerCase();\nlet status = null;\nif (fulfillment === 'fulfilled') status = 'entregado';\nelse if (['refunded','voided'].includes(financial)) status = 'cancelado';\nelse if (['paid','authorized','pending'].includes(financial)) status = 'confirmado';\n\nconst shopifyOrderId = String(order.id);\nconst totalUsd = parseFloat(order.total_price || 0);\nconst deliveryAddress = [ship.address1, ship.address2, ship.city, ship.province].filter(Boolean).join(', ') || null;\n\nconst patch = {};\nif (clientName) patch.client_name = clientName;\nif (clientPhone) patch.client_phone = clientPhone;\nif (clientCity) patch.client_city = clientCity;\nif (deliveryAddress) patch.delivery_address = deliveryAddress;\nif (totalUsd) patch.total_usd = totalUsd;\nif (status) patch.status = status;\n\nconst hasUpdates = Object.keys(patch).length > 0;\nreturn [{ json: { shopifyOrderId, patch, hasUpdates, orderNumber: order.order_number || order.name } }];"},"id":"code-transform","name":"Build patch","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?shopify_order_id=eq.{{ $json.shopifyOrderId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.patch) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-patch","name":"Patch order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}}],"connections":{"Shopify: Order Updated":{"main":[[{"node":"Build patch","type":"main","index":0}]]},"Build patch":{"main":[[{"node":"Patch order","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Shopify: Order Updated":{"webhookId":1441921728625}},"meta":null,"pinData":null,"versionId":"dab45d51-83d2-4ca3-9cb4-6884d488beb1","activeVersionId":"dab45d51-83d2-4ca3-9cb4-6884d488beb1","versionCounter":9,"triggerCount":1,"shared":[{"updatedAt":"2026-04-16T21:58:53.533Z","createdAt":"2026-04-16T21:58:53.533Z","role":"workflow:owner","workflowId":"4FYpMkhhMkXw1PEo","projectId":"NJ3rjcCVeDHPF7sa","project":{"updatedAt":"2025-11-03T14:48:00.044Z","createdAt":"2025-11-03T14:41:36.663Z","id":"NJ3rjcCVeDHPF7sa","name":"Aniello Rescigno <rescignoaniello@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectRelations":[{"updatedAt":"2025-11-03T14:41:36.664Z","createdAt":"2025-11-03T14:41:36.664Z","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3","projectId":"NJ3rjcCVeDHPF7sa","user":{"updatedAt":"2026-04-16T19:05:24.000Z","createdAt":"2025-11-03T14:41:35.993Z","id":"448be12a-ad32-4dc2-85c1-be8439daf6a3","email":"rescignoaniello@gmail.com","firstName":"Aniello","lastName":"Rescigno","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-03T14:48:19.853Z","personalization_survey_n8n_version":"1.103.2","companySize":"personalUser","companyType":"ecommerce","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"DYUtIYpfTjv9nnRK","userActivatedAt":1762197033728,"npsSurvey":{"responded":true,"lastShownAt":1770322564226},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-17T00:46:11.789Z","createdAt":"2026-04-17T00:46:11.789Z","versionId":"dab45d51-83d2-4ca3-9cb4-6884d488beb1","workflowId":"4FYpMkhhMkXw1PEo","nodes":[{"parameters":{"authentication":"oAuth2","topic":"orders/updated"},"id":"trigger-shopify","name":"Shopify: Order Updated","type":"n8n-nodes-base.shopifyTrigger","typeVersion":1,"position":[240,300],"credentials":{"shopifyOAuth2Api":{"id":"hkN5bDuOp689jPuQ","name":"Shopify-Primal-Access Token account"}},"webhookId":"shadow-ios-shopify-order-updated"},{"parameters":{"jsCode":"const order = $input.first().json;\nconst cust = order.customer || {};\nconst ship = order.shipping_address || order.billing_address || {};\nconst clientName = [cust.first_name, cust.last_name].filter(Boolean).join(' ').trim() || ship.name || null;\nconst clientPhone = (cust.phone || ship.phone || order.phone || '').replace(/\\s+/g,'') || null;\nconst clientCity = ship.city || null;\n\nconst financial = (order.financial_status || '').toLowerCase();\nconst fulfillment = (order.fulfillment_status || '').toLowerCase();\nlet status = null;\nif (fulfillment === 'fulfilled') status = 'entregado';\nelse if (['refunded','voided'].includes(financial)) status = 'cancelado';\nelse if (['paid','authorized','pending'].includes(financial)) status = 'confirmado';\n\nconst shopifyOrderId = String(order.id);\nconst totalUsd = parseFloat(order.total_price || 0);\nconst deliveryAddress = [ship.address1, ship.address2, ship.city, ship.province].filter(Boolean).join(', ') || null;\n\nconst patch = {};\nif (clientName) patch.client_name = clientName;\nif (clientPhone) patch.client_phone = clientPhone;\nif (clientCity) patch.client_city = clientCity;\nif (deliveryAddress) patch.delivery_address = deliveryAddress;\nif (totalUsd) patch.total_usd = totalUsd;\nif (status) patch.status = status;\n\nconst hasUpdates = Object.keys(patch).length > 0;\nreturn [{ json: { shopifyOrderId, patch, hasUpdates, orderNumber: order.order_number || order.name } }];"},"id":"code-transform","name":"Build patch","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"PATCH","url":"=https://bkrijdevtickjknvocyj.supabase.co/rest/v1/orders?shopify_order_id=eq.{{ $json.shopifyOrderId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.patch) }}","options":{},"authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi"},"id":"http-patch","name":"Patch order","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"credentials":{"supabaseApi":{"id":"x8buzsXlNOri8ISa","name":"Supabase account"}}}],"connections":{"Shopify: Order Updated":{"main":[[{"node":"Build patch","type":"main","index":0}]]},"Build patch":{"main":[[{"node":"Patch order","type":"main","index":0}]]}},"authors":"Aniello Rescigno","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-17T00:46:13.450Z","id":754,"workflowId":"4FYpMkhhMkXw1PEo","versionId":"dab45d51-83d2-4ca3-9cb4-6884d488beb1","event":"activated","userId":"448be12a-ad32-4dc2-85c1-be8439daf6a3"}]}}